@charset "UTF-8";
/* Reset */
* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

img {
  border: none;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*--------------------------
* 共通
* header
--------------------------*/
.sub-header {
  position: fixed;
  height: 100px;
  background: lightcyan;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto;
}
.sub-header__logo {
  position: absolute;
  left: 5%;
  top: 0px;
}
.sub-header__logo img {
  width: 300px;
  height: 100px;
}

.pc-gnavi {
  height: auto;
  background: none;
  position: absolute;
  width: auto;
  z-index: 1;
  right: 5%;
  left: auto;
  top: 42px;
}
.pc-gnavi__content {
  position: relative;
  top: unset;
  left: unset;
  -webkit-transform: none;
          transform: none;
  width: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.pc-gnavi__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.pc-gnavi__list li {
  font-size: 1em;
  margin: 0 1em;
}

.tb-gnavi {
  height: 100%;
  background: rgb(255, 255, 255);
  position: fixed;
  left: -100vw;
  width: 100%;
  visibility: visible;
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.tb-gnavi__wrapper {
  position: absolute;
  width: 100%;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -5%);
  -webkit-transform: translate(-50%, -5%);
  -moz-transform: translate(-50%, -5%);
  -ms-transform: translate(-50%, -5%);
}
.tb-gnavi__logo {
  margin: 0 auto;
  width: 60%;
}
.tb-gnavi__list {
  width: 60%;
  margin: 0 auto;
  padding-top: 34px;
}
.tb-gnavi__list li {
  margin-bottom: 24px;
}
.tb-gnavi__list li .en {
  display: block;
}
.tb-gnavi__list li .en a {
  font-size: 1.58em;
  font-weight: 400;
  letter-spacing: 0.15em;
}
.tb-gnavi__list li .ja {
  display: block;
}
.tb-gnavi__list li .ja a {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.15em;
}
.tb-gnavi__copy {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.copyright {
  width: 100%;
  font-size: 0.5em;
  text-align: center;
  opacity: 0.6;
}

.hamburger {
  display: none;
}

.hero {
  margin-top: 100px;
}
.hero__bg {
  position: relative;
  height: 200px;
  background-image: url(../img/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.hero__bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.hero__content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 200px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1;
}
.hero__content p {
  margin-top: 40px;
  color: #fff;
}
.hero__content h1 {
  margin-top: 8px;
  color: #fff;
  font-size: 3.5em;
}
.hero__content .breadcrumb {
  height: 35px;
  margin-top: 8px;
  overflow-x: scroll;
  word-break: keep-all;
  white-space: nowrap;
}
.hero__content .breadcrumb li {
  display: inline;
  list-style: none;
  font-weight: bold;
}
.hero__content .breadcrumb li:after {
  content: ">";
  padding: 0 0.2em;
  color: #fff;
}
.hero__content .breadcrumb li:last-child:after {
  content: "";
}
.hero__content .breadcrumb li a {
  margin: 0 16px;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .sub-header__logo {
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .pc-gnavi {
    display: none;
  }

  /*-------------------------
  * hamburger　nav
  --------------------------*/
  .hamburger {
    display: block;
    position: fixed;
    top: 2%;
    left: 3%;
    text-align: center;
    z-index: 9999;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .hamburger--trigger {
    width: 65px;
    height: 60px;
    position: relative;
  }
  .hamburger--trigger span {
    display: inline-block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    right: 13px;
    margin: 0 auto;
    width: 39px;
    height: 1.5px;
    background-color: #19A2DB;
    border-radius: 0;
  }
  .hamburger--trigger span:nth-of-type(1) {
    top: 18px;
  }
  .hamburger--trigger span:nth-of-type(2) {
    top: 29px;
  }
  .hamburger--trigger span:nth-of-type(3) {
    top: 40px;
  }

  /*--------------------------
  * hamburger js
  --------------------------*/
  .drawer--active .tb-gnavi {
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 999;
  }

  .btn--active .hamburger--trigger span:nth-of-type(1) {
    -webkit-transform: translateY(11px) rotate(45deg);
            transform: translateY(11px) rotate(45deg);
  }
  .btn--active .hamburger--trigger span:nth-of-type(2) {
    width: 0;
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
  }
  .btn--active .hamburger--trigger span:nth-of-type(3) {
    -webkit-transform: translateY(-11px) rotate(-45deg);
            transform: translateY(-11px) rotate(-45deg);
  }
}
@media screen and (max-width: 520px) {
  .hamburger {
    top: 0;
  }

  .sub-header {
    height: 64px;
  }

  .sub-header__logo {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .sub-header__logo img {
    width: 150px;
    height: auto;
  }

  .hero {
    margin-top: 64px;
  }
}
@media screen and (max-width: 350px) {
  .tb-gnavi__list {
    padding-top: 0px;
  }
  .tb-gnavi__list li {
    margin-bottom: 8px;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", serif;
  font-size: 1em;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.pc-gnavi__list a,
.tb-gnavi__list a,
.footer__nav a,
.breadcrumb a {
  position: relative;
}

.pc-gnavi__list a:before,
.tb-gnavi__list a:before,
.footer__nav a:before,
.breadcrumb a:before {
  background-color: #3c3632;
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.breadcrumb a:before {
  background-color: #fff;
}

.pc-gnavi__list a:hover:before,
.tb-gnavi__list a:hover:before,
.footer__nav a:hover:before,
.breadcrumb a:hover:before {
  width: 100%;
}

/*--------------------------
* セクション
--------------------------*/
.sec {
  padding: 8vw 0;
  margin: 0 auto;
}

.sec__wrapper {
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.sec__title {
  text-align: center;
  font-size: 2em;
}

.sec__text {
  max-width: 650px;
  padding: 32px 0 0;
  margin: 0 auto;
}

.btn {
  text-align: center;
}
.btn a {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}
.btn .btn-c {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  padding: 1.5rem 5rem;
  border-radius: 100vh;
}
.btn .btn-c::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: 40px;
  width: 10px;
  height: 10px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn .btn-c:hover::before {
  right: 35px;
}

/*
--------------------------------------
global-contact
--------------------------------------
*/
.global-contact {
  margin-top: 8vw;
  background-color: #202A39;
}
@media screen and (max-width: 520px) {
  .global-contact {
    padding: 48px 0;
  }
}
.global-contact .content {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 520px) {
  .global-contact .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
.global-contact .content .global-contact__text {
  width: 50%;
}
@media screen and (max-width: 520px) {
  .global-contact .content .global-contact__text {
    width: 100%;
  }
}
.global-contact .content .global-contact__text p {
  margin-top: 48px;
}
@media screen and (max-width: 520px) {
  .global-contact .content .global-contact__text p {
    margin-top: 32px;
  }
}
.global-contact .content .global-contact__btn {
  width: 50%;
}
@media screen and (max-width: 520px) {
  .global-contact .content .global-contact__btn {
    width: 100%;
    margin-top: 32px;
  }
}

.btn--blue {
  color: #000;
  background-color: #CBDAF3;
}
.btn--blue:hover {
  color: #fff;
  background: #97B5E7;
}

.btn--pink {
  color: #000;
  background-color: #F2E0E5;
}
.btn--pink:hover {
  color: #fff;
  background: #E6C2CB;
}

.btn--green {
  color: #000;
  background-color: #C0EAF2;
}
.btn--green:hover {
  color: #fff;
  background: #81D6E6;
}

/*
--------------------------------------
footer
--------------------------------------
*/
.footer {
  background-color: #E5E5E5;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.footer .totop {
  display: block;
  height: 80px;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  border-bottom: solid 1px #202A39;
}
.footer .totop::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: calc(50% - 5px);
  width: 15px;
  height: 15px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer .totop:hover {
  background-color: rgb(241, 241, 241);
}
.footer .totop:hover::before {
  top: calc(50% - 10px);
}
.footer__wrapper {
  width: 90%;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 960px;
}
@media screen and (max-width: 960px) {
  .footer__wrapper {
    display: block;
  }
}
.footer__company {
  width: 50%;
  padding-right: 2rem;
}
@media screen and (max-width: 960px) {
  .footer__company {
    width: 100%;
    padding-right: 0;
  }
}
.footer__company .logo {
  width: 300px;
  height: 100px;
}
@media screen and (max-width: 350px) {
  .footer__company .logo {
    width: 200px;
    height: 66.6px;
  }
}
.footer__company .address {
  margin-top: 24px;
  line-height: 30px;
  font-style: normal;
}
@media screen and (max-width: 350px) {
  .footer__company .address {
    margin-top: 0;
  }
}
.footer__nav {
  width: 50%;
}
@media screen and (max-width: 960px) {
  .footer__nav {
    width: 100%;
    margin-top: 24px;
  }
}
.footer__nav--tb, .footer__nav--sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .footer__nav--tb, .footer__nav--sp {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (max-width: 350px) {
  .footer__nav--tb, .footer__nav--sp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
.footer__nav--tb .menu-list, .footer__nav--sp .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-right: 5%;
  border-right: solid 1px #000;
}
@media screen and (max-width: 350px) {
  .footer__nav--tb .menu-list, .footer__nav--sp .menu-list {
    padding-right: 0;
    border-right: none;
  }
}
.footer__nav--tb .menu-list:nth-child(2), .footer__nav--sp .menu-list:nth-child(2) {
  border: none;
  padding-left: 5%;
  padding-right: 0;
}
@media screen and (max-width: 350px) {
  .footer__nav--tb .menu-list:nth-child(2), .footer__nav--sp .menu-list:nth-child(2) {
    border-left: none;
    padding-left: 0;
  }
}
@media screen and (max-width: 350px) {
  .footer__nav--tb .menu-list .sp, .footer__nav--sp .menu-list .sp {
    display: none;
  }
}
.footer__nav--tb .menu-list li, .footer__nav--sp .menu-list li {
  margin-bottom: 24px;
}
@media screen and (max-width: 350px) {
  .footer__nav--tb .menu-list li, .footer__nav--sp .menu-list li {
    margin-bottom: 16px;
  }
}
.footer__nav--tb .menu-list li:last-child, .footer__nav--sp .menu-list li:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 350px) {
  .footer__nav--tb, .footer__nav--sp {
    border: none;
    margin-top: 30px;
  }
}
@media screen and (max-width: 350px) {
  .footer__nav--tb {
    display: none;
  }
}
.footer__nav--sp {
  display: none;
}
@media screen and (max-width: 350px) {
  .footer__nav--sp {
    display: block;
  }
}
.footer__nav .service-list--tb, .footer__nav .service-list--sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.footer__nav .service-list--tb li, .footer__nav .service-list--sp li {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 16px;
}
.footer__nav .service-list--tb li:last-child, .footer__nav .service-list--sp li:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 960px) {
  .footer__nav .service-list--tb {
    display: block;
  }
}
@media screen and (max-width: 350px) {
  .footer__nav .service-list--tb {
    display: none;
  }
}
.footer__nav .service-list--sp {
  display: none;
}
@media screen and (max-width: 350px) {
  .footer__nav .service-list--sp {
    display: block;
  }
}

.copyright {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 50px 0 20px;
  font-size: 13px;
}

/*--------------------------
* 共通
--------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", serif;
  font-size: 1em;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.left {
  width: 50%;
}
@media screen and (max-width: 520px) {
  .left {
    width: 100%;
  }
}

.right {
  width: 50%;
}
@media screen and (max-width: 520px) {
  .right {
    width: 100%;
  }
}

.inner {
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
}

.title {
  font-size: 60px;
}
@media screen and (max-width: 520px) {
  .title {
    font-size: 40px;
  }
}

.subtitle {
  font-size: 16px;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/*
--------------------------------------
1.top
--------------------------------------
*/
.top {
  /*--------------------------
  * gnavi
  --------------------------*/
}
@media screen and (max-width: 520px) {
  .top {
    height: 100vh;
  }
}
.top .hamburger {
  position: fixed;
  top: 30PX;
  right: 30PX;
  text-align: center;
  z-index: 9999;
}
@media screen and (max-width: 520px) {
  .top .hamburger {
    right: inherit;
    left: 30px;
  }
}
.top .hamburger:hover {
  cursor: pointer;
}
.top .hamburger--trigger {
  width: 65px;
  height: 60px;
  position: relative;
}
.top .hamburger--trigger span {
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  right: 13px;
  margin: 0 auto;
  width: 39px;
  height: 1.5px;
  background-color: #19A2DB;
  border-radius: 0;
}
.top .hamburger--trigger span:nth-of-type(1) {
  top: 18px;
}
.top .hamburger--trigger span:nth-of-type(2) {
  top: 29px;
}
.top .hamburger--trigger span:nth-of-type(3) {
  top: 40px;
}
.top .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (max-width: 520px) {
  .top .inner {
    height: 100vh;
  }
}
.top .inner .left {
  padding-bottom: 80px;
}
@media screen and (max-width: 520px) {
  .top .inner .left {
    padding-top: 100px;
  }
}
.top .inner .left .svg-center {
  text-align: center;
  padding: 50px 50px;
}
.top .inner .left .subhead {
  background-color: #E0E9F8;
  font-size: 20px;
  line-height: 52px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 16px auto 0;
  padding: 0 40px;
  position: relative;
}
@media screen and (max-width: 520px) {
  .top .inner .left .subhead {
    margin-top: 10%;
  }
}
.top .inner .left .subhead::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  color: #202A39;
  line-height: 1;
  width: 24px;
  height: 24px;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-25%) rotate(135deg);
          transform: translateY(-25%) rotate(135deg);
  position: absolute;
  top: 80px;
  left: calc(50% - 12px);
}
@media screen and (max-width: 520px) {
  .top .inner .left .subhead::before {
    top: 30vw;
  }
}
@media screen and (max-width: 520px) {
  .top .inner .right {
    display: none;
  }
}
.top .inner .right .mainvisual {
  margin-bottom: 0;
}
.top .inner .right .mainvisual li img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 483px;
  height: 100%;
  width: auto;
}
.top .inner .right .mainvisual .slick-dots {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.top .inner .right .mainvisual .slick-dots li {
  display: block;
  margin: 0 23px 16px auto;
}
.top .inner .right .mainvisual .slick-dots li:last-child {
  margin-bottom: 0;
}
.top .inner .right .mainvisual .slick-dots li button::before {
  font-size: 16px;
}
.top .inner .right .mainvisual .slick-dots .slick-active button::before {
  color: #97B5E7;
}
.top .gnavi {
  overflow: auto;
  height: 100%;
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: visible;
  opacity: 0;
  z-index: -1;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.top .gnavi__wrapper {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.top .gnavi__contents {
  width: 50%;
  margin: 0 16px;
}
.top .gnavi__contents .catch {
  background-color: #E0E9F8;
  margin: 1.5rem 16px 0;
  padding: 16px 16px;
  text-align: center;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 0.15em;
}
.top .gnavi__list {
  padding: 5% 8%;
}
.top .gnavi__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.58em 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.top .gnavi__list li .en {
  display: block;
  width: 50%;
  margin-right: 64px;
}
.top .gnavi__list li .en a {
  font-size: 1.58em;
  font-weight: 400;
  letter-spacing: 0.15em;
}
.top .gnavi__list li .ja {
  display: block;
  width: 50%;
}
.top .gnavi__list li .ja a {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.15em;
}
.top .gnavi__list li:hover a:before {
  width: 100%;
}
.top .gnavi__list li a {
  position: relative;
}
.top .gnavi__list li a::before {
  background-color: #3c3632;
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.top .gnavi__copy {
  position: absolute;
  top: 98%;
  left: 50%;
  -webkit-transform: translate(-50%, -98%);
          transform: translate(-50%, -98%);
}
.top .copyright {
  font-size: 0.5em;
  text-align: center;
  opacity: 0.6;
}

/*
--------------------------------------
2.concept
--------------------------------------
*/
.concept .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 8vw 0 0;
}
@media screen and (max-width: 520px) {
  .concept .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 8vw 16px;
  }
}
@media screen and (max-width: 520px) {
  .concept .inner .left {
    width: 100%;
    padding: 0 7%;
  }
}
.concept .inner .left .title {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media screen and (max-width: 520px) {
  .concept .inner .left .title {
    margin: 0;
  }
}
.concept .inner .left .title .subtitle {
  display: block;
}
.concept .inner .right {
  padding: 0 5%;
}
.concept .inner .right .cont-head {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
}
@media screen and (max-width: 520px) {
  .concept .inner .right .cont-head {
    font-size: 20px;
    margin-top: 30px;
  }
}
.concept .inner .right .concept-text {
  font-size: 16px;
  margin-top: 30px;
}
@media screen and (max-width: 520px) {
  .concept .inner .right .concept-text {
    margin-top: 30px;
  }
}

/*
--------------------------------------
3.service
--------------------------------------
*/
.service .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 8vw 0 40px;
}
@media screen and (max-width: 520px) {
  .service .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 8vw 16px 16vw;
  }
}
@media screen and (max-width: 520px) {
  .service .inner .left {
    padding: 0 7%;
  }
}
.service .inner .left .title {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media screen and (max-width: 520px) {
  .service .inner .left .title {
    margin: 0;
  }
}
.service .inner .left .title .subtitle {
  display: block;
}
.service .inner .left .service-menu-list {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.service .inner .left .service-menu-list .service-menu {
  margin-top: 16px;
}
@media screen and (max-width: 520px) {
  .service .inner .left .service-menu-list .service-menu {
    display: none;
  }
}
.service .inner .right {
  padding: 0 5%;
}
@media screen and (max-width: 520px) {
  .service .inner .right {
    padding: 0 14%;
    margin-top: 30px;
  }
}
.service .inner .right .service-visual .slick-prev::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 30px 16px 30px 0;
  border-color: transparent #000 transparent transparent;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.service .inner .right .service-visual .slick-prev::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 30px 16px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: -16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.service .inner .right .service-visual .slick-next::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 30px 0 30px 16px;
  border-color: transparent transparent transparent #000;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -20px;
}
.service .inner .right .service-visual .slick-next::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 30px 0 30px 16px;
  border-color: transparent transparent transparent #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -16px;
}
.service .inner .right .service-visual .slick-dots {
  bottom: -30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.service .inner .right .service-visual .slick-dots li button::before {
  font-size: 16px;
}
.service .inner .right .service-visual .slick-dots .slick-active button::before {
  color: #97B5E7;
}
.service .inner .right .more {
  margin: 70px auto 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.service .inner .right .more .more-btn {
  background-color: rgba(151, 181, 231, 0.5);
  text-align: center;
  border-radius: 9999px;
  padding: 20px 95px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.service .inner .right .more .more-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: 40px;
  width: 10px;
  height: 10px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.service .inner .right .more .more-btn:hover {
  background-color: rgb(151, 181, 231);
}
.service .inner .right .more .more-btn:hover::before {
  right: 35px;
}

/*
--------------------------------------
4.company
--------------------------------------
*/
.company .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 8vw 0;
}
@media screen and (max-width: 520px) {
  .company .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
    padding: 8vw 8% 16vw;
  }
}
.company .inner .left .title {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media screen and (max-width: 520px) {
  .company .inner .left .title {
    margin: 0;
  }
}
.company .inner .left .title .subtitle {
  display: block;
}
.company .inner .right {
  padding: 0;
}
@media screen and (max-width: 520px) {
  .company .inner .right {
    margin-top: 30px;
  }
}
.company .inner .right .more {
  margin: 77px auto 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 520px) {
  .company .inner .right .more {
    margin-top: 40px;
  }
}
.company .inner .right .more .more-btn {
  background-color: rgba(151, 181, 231, 0.5);
  text-align: center;
  border-radius: 9999px;
  padding: 20px 80px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.company .inner .right .more .more-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: 40px;
  width: 10px;
  height: 10px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.company .inner .right .more .more-btn:hover {
  background-color: rgb(151, 181, 231);
}
.company .inner .right .more .more-btn:hover::before {
  right: 35px;
}

/*
--------------------------------------
5.global-contact
--------------------------------------
*/
.global-contact {
  height: 264px;
  background-color: #202A39;
}
.global-contact .inner {
  background-color: #202A39;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 100%;
}
@media screen and (max-width: 520px) {
  .global-contact .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
.global-contact .inner .left {
  text-align: center;
}
.global-contact .inner .left h1 {
  font-size: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 520px) {
  .global-contact .inner .left h1 {
    font-size: 34px;
    margin-bottom: 20px;
  }
}
.global-contact .inner .right .more {
  margin: 0 auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 520px) {
  .global-contact .inner .right .more {
    margin: 60px auto;
  }
}
.global-contact .inner .right .more .more-btn {
  background-color: rgba(151, 181, 231, 0.8);
  text-align: center;
  border-radius: 9999px;
  padding: 20px 80px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.global-contact .inner .right .more .more-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: 40px;
  width: 10px;
  height: 10px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.global-contact .inner .right .more .more-btn:hover {
  background-color: rgb(151, 181, 231);
}
.global-contact .inner .right .more .more-btn:hover::before {
  right: 35px;
}

/*
--------------------------------------
6.footer
--------------------------------------
*/
footer {
  background-color: #E5E5E5;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
footer .totop {
  height: 80px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  border-bottom: solid 1px #202A39;
}
footer .totop::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: calc(50% - 5px);
  width: 15px;
  height: 15px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
footer .totop:hover {
  background-color: rgb(241, 241, 241);
}
footer .totop:hover::before {
  top: calc(50% - 10px);
}
footer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-width: 1080px;
  width: 100%;
  padding: 0;
  background-color: #E5E5E5;
}
@media screen and (max-width: 520px) {
  footer .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 0 16px;
  }
}
footer .inner .left {
  padding: 0 64px;
}
@media screen and (max-width: 520px) {
  footer .inner .left {
    padding: 0 5%;
  }
}
footer .inner .left .footer-logo {
  margin-top: 30px;
}
@media screen and (max-width: 520px) {
  footer .inner .left .footer-logo {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-left: -50px;
  }
}
footer .inner .left .address {
  font-style: normal;
  margin-top: 15px;
  line-height: 30px;
}
@media screen and (max-width: 520px) {
  footer .inner .left .address {
    margin-top: 0;
  }
}
@media screen and (max-width: 520px) {
  footer .inner .right {
    padding: 0 5%;
  }
}
footer .inner .right nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 8%;
}
@media screen and (max-width: 520px) {
  footer .inner .right nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
footer .inner .right nav .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 15px;
  padding-right: 8%;
  border-right: solid 1px #000;
}
footer .inner .right nav .menu-list li:last-child {
  display: none;
}
@media screen and (max-width: 520px) {
  footer .inner .right nav .menu-list li:last-child {
    display: block;
  }
}
@media screen and (max-width: 520px) {
  footer .inner .right nav .menu-list {
    border: none;
    margin-top: 30px;
  }
}
footer .inner .right nav .menu-list .service-list-sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 15px;
  display: none;
}
@media screen and (max-width: 520px) {
  footer .inner .right nav .menu-list .service-list-sp {
    display: block;
  }
}
footer .inner .right nav .menu-list .service-list-sp li {
  list-style: disc;
  margin-left: 20px;
}
footer .inner .right nav .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 15px;
  padding-left: 30px;
}
@media screen and (max-width: 520px) {
  footer .inner .right nav .service-list {
    display: none;
  }
}
footer .inner .right nav .service-list li {
  list-style: disc;
  margin-left: 20px;
}
footer .copyright {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 50px 0 20px;
  font-size: 13px;
}

.top .drawer--active {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 9998;
}

.btn--active .hamburger--trigger span:nth-of-type(1) {
  -webkit-transform: translateY(11px) rotate(45deg);
          transform: translateY(11px) rotate(45deg);
}
.btn--active .hamburger--trigger span:nth-of-type(2) {
  width: 0;
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
}
.btn--active .hamburger--trigger span:nth-of-type(3) {
  -webkit-transform: translateY(-11px) rotate(-45deg);
          transform: translateY(-11px) rotate(-45deg);
}/*# sourceMappingURL=home.css.map */