@use "variables" as va;
@use "fonts" as fo;
// レスポンシブ
$pc: 960px;
$tb: 520px;
$sp: 350px;

@mixin pc {
  @media screen and (max-width: $pc) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: $tb) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}

html {
  font-size: fo.$standard-font;
}

// 共通内容
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.6em;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-weight: 400;
  letter-spacing: .15em
}

// navi hover時
.pc-gnavi__list a,
.tb-gnavi__list a,
.footer__nav a,
.breadcrumb a {
  position: relative;
}

.pc-gnavi__list a:before,
.tb-gnavi__list a:before,
.footer__nav a:before,
.breadcrumb a:before {
  background-color: va.$navi-link;
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  transition: all .3s cubic-bezier(.19, 1, .22, 1);
  transition-timing-function: cubic-bezier(.19, 1, .22, 1);
}

.breadcrumb a:before {
  background-color: va.$breadcrumb-link;
}

.pc-gnavi__list a:hover:before,
.tb-gnavi__list a:hover:before,
.footer__nav a:hover:before,
.breadcrumb a:hover:before {
  width: 100%;
}



/*--------------------------
* セクション
--------------------------*/
.sec {
  padding: min(8vw, 80px) 0;
  margin: 0 auto;
}

.sec__wrapper {
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.sec__title {
  text-align: center;
  font-size: fo.$section-title;
}

.sec__text {
  max-width: 650px;
  padding: 32px 0 0;
  margin: 0 auto;
}


.btn {
  // ボタンスタイル
  text-align: center;

  a {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
  }

  .btn-c {
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    padding: 2rem 6rem;
    border-radius: 100vh;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 5px);
      right: 30px;
      width: 10px;
      height: 10px;
      border-top: 1px solid va.$btn-icon;
      border-right: 1px solid va.$btn-icon;
      transform: rotate(45deg);
      transition: all .5s ease;
    }

    &:hover {
      &::before {
        right: 25px;
      }
    }
  }
}

//ボタンカラー
.btn--blue {
  color: va.$btn-text;
  background-color: va.$btn--blue;

  &:hover {
    color: va.$btn-text-hover;
    background: va.$btn--blue-hover;
  }
}

.btn--pink {
  color: va.$btn-text;
  background-color: va.$btn--pink;

  &:hover {
    color: va.$btn-text-hover;
    background: va.$btn--pink-hover;
  }
}

.btn--green {
  color: va.$btn-text;
  background-color: va.$btn--green;

  &:hover {
    color: va.$btn-text-hover;
    background: va.$btn--green-hover;
  }
}

.btn--orange {
  color: va.$btn-text;
  background-color: va.$btn--orange;

  &:hover {
    color: va.$btn-text-hover;
    background: va.$btn--orange-hover;
  }
}



/*
--------------------------------------
global-contact
--------------------------------------
*/
.global-contact {
  margin-top: 8vw;
  background-color: va.$global-contact-bg;

  @include tb() {
    padding: 48px 0;
  }

  .content {
    color: va.$global-contact-text;
    display: flex;
    align-items: center;

    @include tb() {
      flex-flow: column;
    }

    .global-contact__text {
      width: 50%;

      @include tb() {
        width: 80%;
      }

      p {
        margin-top: 48px;

        @include sp() {
          margin-top: 32px;
        }
      }

    }

    .global-contact__btn {
      width: 50%;

      @include tb() {
        width: 100%;
        margin-top: 32px;
      }
    }
  }
}