@charset "UTF-8";

@use "variables" as va;

@mixin sp {
  @media screen and (max-width: 520px) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: 960px) {
    @content;
  }
}

/*--------------------------
* 共通
* header
--------------------------*/
.sub-header {
  position: fixed;
  height: 100px;
  background: lightcyan;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto;

  &__logo {
    position: absolute;
    left: 5%;
    top: 0px;

    img {
      width: 300px;
      height: 100px;
    }
  }
}

// サブページ用gnavi
//pc用
.pc-gnavi {
  height: auto;
  background: none;
  position: absolute;
  width: auto;
  z-index: 1;
  right: 5%;
  left: auto;
  top: 42px;

  &__content {
    position: relative;
    top: unset;
    left: unset;
    transform: none;
    width: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__list {
    display: flex;
    padding: 0;

    li {
      font-size: 1em;
      margin: 0 1em;
    }
  }
}

// tb用
.tb-gnavi {
  height: 100%;
  background: rgba(255, 255, 255, 1);
  position: fixed;
  left: -100vw;
  width: 100%;
  visibility: visible;
  opacity: 0;
  transition: all 1s cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: all 1s cubic-bezier(.19, 1, .22, 1);
  -moz-transition: all 1s cubic-bezier(.19, 1, .22, 1);

  &__wrapper {
    position: absolute;
    width: 100%;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -5%);
    -webkit-transform: translate(-50%, -5%);
    -moz-transform: translate(-50%, -5%);
    -ms-transform: translate(-50%, -5%);
  }

  &__logo {
    margin: 0 auto;
    width: 60%;
  }

  &__list {
    width: 60%;
    margin: 0 auto;
    padding-top: 34px;

    li {
      margin-bottom: 24px;

      .en {
        display: block;

        a {
          font-size: 1.58em;
          font-weight: 400;
          letter-spacing: .15em;
        }
      }

      .ja {
        display: block;

        a {
          font-size: 0.8em;
          font-weight: 400;
          letter-spacing: .15em;
        }
      }
    }
  }

  &__copy {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
}

// コピーライト
.copyright {
  width: 100%;
  font-size: .5em;
  text-align: center;
  opacity: .6;
}

//ハンバーガーメニュー
.hamburger {
  display: none;
}




.hero {
  // header部分
  margin-top: 100px;

  &__bg {
    position: relative;
    height: 200px;
    background-image: url(../img/hero/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;

    &:after {
      // スモーク
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  &__content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 200px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;

    p {
      margin-top: 40px;
      color: #fff;
    }

    h1 {
      margin-top: 8px;
      color: #fff;
      font-size: 3.5em;
    }

    // パンクズリスト
    .breadcrumb {
      height: 35px;
      margin-top: 8px;
      overflow-x: scroll;
      word-break: keep-all;
      white-space: nowrap;

      li {
        display: inline;
        list-style: none;
        font-weight: bold;

        &:after {
          content: '>';
          padding: 0 0.2em;
          color: #fff;
        }

        &:last-child:after {
          content: '';
        }

        a {
          margin: 0 16px;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}



@media screen and (max-width:960px) {
  .sub-header__logo {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  // pc非表示
  .pc-gnavi {
    display: none;
  }

  /*-------------------------
  * hamburger　nav
  --------------------------*/
  .hamburger {
    display: block;
    position: fixed;
    top: 0.5%;
    left: 3%;
    text-align: center;
    z-index: 9999;

    &:hover {
      cursor: pointer;
    }

    &--trigger {
      width: 65px;
      height: 60px;
      position: relative;

      span {
        display: inline-block;
        transition: all .2s;
        box-sizing: border-box;
        position: absolute;
        right: 13px;
        margin: 0 auto;
        width: 39px;
        height: 1.5px;
        background-color: #19A2DB;
        border-radius: 0;

        &:nth-of-type(1) {
          top: 18px;
        }

        &:nth-of-type(2) {
          top: 29px;
        }

        &:nth-of-type(3) {
          top: 40px;
        }
      }
    }
  }
}

@media screen and (max-width:520px) {
  .hamburger {
    top: 0;
  }

  .sub-header {
    height: 64px
  }

  .sub-header__logo {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 150px;
      height: auto;
    }
  }

  .hero {
    margin-top: 64px
  }

}

@media screen and (max-width:350px) {
  .tb-gnavi__list {
    padding-top: 0px;

    li {
      margin-bottom: 8px;
    }
  }
}


/*-------------------------
  * hamburger　nav
  --------------------------*/
.home-hamburger {
  position: fixed;
  top: 2%;
  right: 3%;
  text-align: center;
  z-index: 9999;

  @include tb() {
    right: 0;
    left: 3%;
  }

  &:hover {
    cursor: pointer;
  }

  &--trigger {
    width: 65px;
    height: 60px;
    position: relative;

    span {
      display: inline-block;
      transition: all .2s;
      box-sizing: border-box;
      position: absolute;
      right: 13px;
      margin: 0 auto;
      width: 39px;
      height: 1.5px;
      background-color: #19A2DB;
      border-radius: 0;

      &:nth-of-type(1) {
        top: 18px;
      }

      &:nth-of-type(2) {
        top: 29px;
      }

      &:nth-of-type(3) {
        top: 40px;
      }
    }
  }
}



/*--------------------------
  * hamburger js
  --------------------------*/
.drawer--active .tb-gnavi,
.drawer--active .home-gnavi {
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 2s cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: all 2s cubic-bezier(.19, 1, .22, 1);
  -moz-transition: all 2s cubic-bezier(.19, 1, .22, 1);
  z-index: 999;
}

.btn--active {

  .hamburger--trigger,
  .main-hamburger--trigger {
    span:nth-of-type(1) {
      transform: translateY(11px) rotate(45deg);
    }

    span:nth-of-type(2) {
      width: 0;
      transition-delay: .1s;
      -webkit-transition-delay: .1s;
      -moz-transition-delay: .1s;
    }

    span:nth-of-type(3) {
      transform: translateY(-11px) rotate(-45deg);
    }
  }
}





.main-hamburger {
  display: block;
  position: fixed;
  top: 2%;
  right: 3%;
  text-align: center;
  z-index: 9999;

  @include tb() {
    right: auto;
    left: 3%;
  }

  &:hover {
    cursor: pointer;
  }

  &--trigger {
    width: 65px;
    height: 60px;
    position: relative;

    span {
      display: inline-block;
      transition: all .2s;
      box-sizing: border-box;
      position: absolute;
      right: 13px;
      margin: 0 auto;
      width: 39px;
      height: 1.5px;
      background-color: #19A2DB;
      border-radius: 0;

      &:nth-of-type(1) {
        top: 18px;
      }

      &:nth-of-type(2) {
        top: 29px;
      }

      &:nth-of-type(3) {
        top: 40px;
      }
    }
  }
}