@charset "UTF-8";

@use "variables" as va;
@use "fonts" as fo;

// レスポンシブ
$pc: 960px;
$tb: 520px;
$sp: 350px;

@mixin pc {
  @media screen and (max-width: $pc) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: $tb) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}

/*--------------------------
* 共通
* header
--------------------------*/
.sub-header {
  position: fixed;
  height: 100px;
  background-color: va.$sub-header-bg;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto;

  @include tb() {
    height: 64px
  }

  &__logo {
    position: absolute;
    left: 5%;
    top: 0px;

    @include pc() {
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }

    @include tb() {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    img {
      width: 300px;
      height: 100px;

      @include tb() {
        width: 150px;
        height: auto;
      }
    }
  }
}

// サブページ用gnavi
//pc用
.pc-gnavi {
  height: auto;
  background: none;
  position: absolute;
  width: auto;
  z-index: 1;
  right: 5%;
  left: auto;
  top: 42px;

  @include pc() {
    display: none;
  }

  &__content {
    position: relative;
    top: unset;
    left: unset;
    transform: none;
    width: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__list {
    display: flex;
    padding: 0;

    li {
      font-size: 1em;
      margin: 0 1em;
    }
  }
}

// tb用
.tb-gnavi {
  height: 100%;
  background-color: va.$gnavi-bg;
  position: fixed;
  left: -100vw;
  width: 100%;
  visibility: visible;
  opacity: 0;
  transition: all 1s cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: all 1s cubic-bezier(.19, 1, .22, 1);
  -moz-transition: all 1s cubic-bezier(.19, 1, .22, 1);

  &__wrapper {
    position: absolute;
    width: 100%;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -5%);
    -webkit-transform: translate(-50%, -5%);
    -moz-transform: translate(-50%, -5%);
    -ms-transform: translate(-50%, -5%);
  }

  &__logo {
    margin: 0 auto;
    max-width: 500px;

    @include tb() {
      width: 60%;
    }
  }

  &__list {
    max-width: 700px;
    width: 60%;
    margin: 0 auto;
    padding-top: 34px;

    @include tb() {
      padding-top: 0px;
    }

    li {
      margin-bottom: 24px;

      @include tb() {
        margin-bottom: 8px;
      }

      .en {
        display: block;

        a {
          font-size: 1.58em;
          font-weight: 400;
          letter-spacing: .15em;
        }
      }

      .ja {
        display: block;

        a {
          font-size: 0.8em;
          font-weight: 400;
          letter-spacing: .15em;
        }
      }
    }
  }

  &__copy {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
}

// コピーライト
.copyright {
  width: 100%;
  font-size: .5em;
  text-align: center;
  opacity: .6;
}

//ハンバーガーメニュー
.hamburger {
  display: none;
}




.hero {
  // header部分
  margin-top: 100px;

  @include tb() {
    margin-top: 64px
  }

  &__bg {
    position: relative;
    height: 200px;
    background-image: url(../img/hero/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;

    &:after {
      // スモーク
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: va.$smoke;
    }
  }

  &__content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 200px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;

    p {
      margin-top: 40px;
      color: va.$sub-header-text;
    }

    h1 {
      margin-top: 8px;
      color: va.$sub-header-text;
      font-size: fo.$hero-title;
    }

    // パンクズリスト
    .breadcrumb {
      height: 35px;
      margin-top: 8px;
      word-break: keep-all;
      white-space: nowrap;

      @include tb() {
        overflow-x: scroll;
      }

      li {
        display: inline;
        list-style: none;
        font-weight: bold;

        &:after {
          content: '>';
          padding: 0 0.2em;
          color: va.$sub-header-text;
        }

        &:last-child:after {
          content: '';
        }

        a {
          margin: 0 16px;
          color: va.$sub-header-text;
          text-decoration: none;
        }
      }
    }
  }
}


/*-------------------------
  * hamburger　nav
  --------------------------*/
.hamburger,
.main-hamburger {
  position: fixed;
  text-align: center;
  z-index: 9999;

  @include pc() {
    display: block;
  }

  @include tb() {
    height: 65px
  }

  &:hover {
    cursor: pointer;
  }

  &--trigger {
    width: 64px;
    height: 64px;
    position: relative;

    span {
      display: inline-block;
      transition: all .2s;
      box-sizing: border-box;
      position: absolute;
      right: 13px;
      margin: 0 auto;
      width: 39px;
      height: 1.5px;
      background-color: va.$hamburger-rod;
      border-radius: 0;

      &:nth-of-type(1) {
        top: 21px;
      }

      &:nth-of-type(2) {
        top: 32px;
      }

      &:nth-of-type(3) {
        top: 43px;
      }
    }
  }
}

.hamburger {
  top: 0.7%;
  left: 3%;

  @include tb() {
    top: 0;
  }
}

.main-hamburger {
  top: 2%;
  right: 3%;

  @include pc() {
    left: 3%;
    right: auto;
  }
}

/*--------------------------
  * hamburger js
  --------------------------*/
.drawer--active .tb-gnavi,
.drawer--active .main-gnavi {
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 2s cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: all 2s cubic-bezier(.19, 1, .22, 1);
  -moz-transition: all 2s cubic-bezier(.19, 1, .22, 1);
  z-index: 999;
}

.btn--active {

  .hamburger--trigger,
  .main-hamburger--trigger {
    span:nth-of-type(1) {
      transform: translateY(11px) rotate(45deg);
    }

    span:nth-of-type(2) {
      width: 0;
      transition-delay: .1s;
      -webkit-transition-delay: .1s;
      -moz-transition-delay: .1s;
    }

    span:nth-of-type(3) {
      transform: translateY(-11px) rotate(-45deg);
    }
  }
}