//変数で値を管理、変数をまとめ
// Webサイトのベースカラーやアクセントカラーなど、変数を定義して活用。

// color
// ボタン
$btn--blue: #CBDAF3;
$btn--pink: #F2E0E5;
$btn--green: #C0EAF2;
// ボタン ホバー時
$btn--blue-hover: #97B5E7;
$btn--pink-hover: #E6C2CB;
$btn--green-hover: #81D6E6;

// タイトル
$title--blue: #97B5E7;
$title--pink: #F2E0E5;
$title--green: #81D6E6;