@charset "UTF-8";

/*--------------------------
* 共通
--------------------------*/

@use "reset";
@use "header";
@use "base";
@use "variables" as va;
@use "fonts" as fo;
@use "footer";

// レスポンシブ
$pc: 960px;
$tb: 520px;
$sp: 350px;

@mixin pc {
  @media screen and (max-width: $pc) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: $tb) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}

/*--------------------------
* company info
--------------------------*/

.info {
  background-color: va.$info-bg;

  table {
    background-color: va.$info-table-bg;
    width: 100%;
    border-radius: 30px;
    line-height: 2em;
    margin-top: 32px;

    tr {

      th {
        border-bottom: solid 1px va.$info-boder;
        padding: 30px;
        width: 35%;
        font-size: 18px;
        font-weight: bold;

        @include tb() {
          width: 100%;
          display: block;
          border: none;
          padding: 24px 0 0 2rem;
          text-align: left;
        }
      }

      td {
        border-bottom: solid 1px va.$info-boder;
        width: 65%;
        padding: 32px;

        @include tb() {
          width: 100%;
          display: block;
          padding: 0 0 16px 4rem;
        }
      }

      &:last-of-type {
        th {
          border-bottom: none;
        }

        td {
          border-bottom: none;
        }
      }
    }
  }
}


/*--------------------------
* access
--------------------------*/

.access {
  @include pc() {
    padding-bottom: 0;
  }

  table {
    width: 100%;
    margin: 32px 0 auto;

    tr {
      th {
        padding: 30px;
        width: 40%;
        font-size: 18px;
        font-weight: bold;

        @include tb() {
          display: block;
          width: 100%;
          padding: 24px 0 0 2rem;
          text-align: left;
        }
      }

      td {
        width: 60%;

        @include tb() {
          display: block;
          width: 100%;
          padding: 0 0 16px 4rem;
        }
      }
    }
  }

  iframe {
    width: 100%;
    max-width: 960px;
    display: block;
    margin: 32px auto 0;
  }
}

.global-contact {
  @include pc() {
    margin-top: 0;
  }
}