@charset "UTF-8";

/*--------------------------
* 共通
--------------------------*/

@use "reset";
@use "header";
@use "base";
@use "variables"as va;
@use "fonts"as fo;
@use "footer";

// レスポンシブ
$pc: 960px;
$tb: 520px;
$sp: 350px;

@mixin pc {
  @media screen and (max-width: $pc) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: $tb) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}


body {
  background-color: #fff;
  height: calc(100vh - 300px);
}

.flex {
  margin-top: 150px;
  display: flex;
  justify-content: center;

  .form-area {
    border: solid 5px va.$form-bg;
    width: 60%;
    display: block;
    position: relative;
    padding: 40px;
    margin-bottom: 40px;
    text-align: center;

    h2 {
      position: absolute;
      top: -100px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 3.2rem;
      width: fit-content;
    }
  }
}

.input-area {
  margin-bottom: 20px;
}

p {
  font-weight: bold;
  font-size: 20px;
}

.btn-border {
  margin-top: 20px;
  font-weight: 700;
  line-height: 1.5;
  padding: 2rem 10rem;
  border-color: none;
  border-radius: 100vh;
  color: #000;
  background-color: #CBDAF3;
  border: none;
  cursor: pointer;
}

.btn-border:hover {
  color: va.$btn-text-hover;
  background: va.$btn--blue-hover;
  transition: all 0.3s;
}