@charset "UTF-8";

/*--------------------------
* 共通
--------------------------*/

@use "reset";
@use "header";
@use "base";
@use "variables";
@use "footer";


@mixin sp {
  @media screen and (max-width: 520px) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: 960px) {
    @content;
  }
}


/*--------------------------
* form
--------------------------*/
.form {
  margin-top: 32px;
  background-color: #E0E9F8;


  &__wrapper {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 4vw 0;
    margin: 0 auto;
  }

  .Form-Item {
    padding: 16px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .Form-Item-Label {
    width: 100%;
    letter-spacing: 0.05em;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .Form-Item-Label.isMsg {
    margin-top: 0;
    margin-bottom: auto;
  }

  .Form-Item-Label-Required {
    border-radius: 4px;
    margin-left: 30px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #19a2db;
    color: #fff;
    font-size: 14px;
  }

  .Form-Item-Input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 0px;
    margin-top: 18px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: inherit;
    width: 100%;
    background: #fff;
    font-size: 18px;

    &::placeholder {
      color: #a3a3a3;
    }
  }

  .Form-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 0;
    margin-top: 18px;
    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    flex: inherit;
    width: 100%;
    background: #fff;
    font-size: 18px;
  }


  .Form-Btn {
    border-radius: 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    background: #545454;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }

  .contact-type {
    display: flex;
    gap: 30px;
    margin-top: 16px;

    @include sp() {
      flex-wrap: wrap;
    }
  }
}


/*--------------------------
* privacy
--------------------------*/

.privacy {

  .agree {
    margin-top: 32px;


    @include sp() {
      margin-top: 40px;
    }

    h3 {
      text-align: center;
    }

    &__cntent {
      margin-top: 32px;
      padding: 40px;
      text-align: left;
      background-color: #E0E9F8;
      height: 500px;
      overflow-y: scroll;

      @include sp() {
        margin-top: 20px;
      }

      h4 {
        margin-top: 16px;
      }
    }

    .check-text {
      margin: 30px auto;
      text-align: center;
    }

    input[type=checkbox] {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-right: 10px;
    }


    button[type=submit] {
      border: none;
    }
  }

}