@charset "UTF-8";

/*--------------------------
* 共通
--------------------------*/

@use "reset";
@use "header";
@use "base";
@use "variables"as va;
@use "fonts"as fo;
@use "footer";

// レスポンシブ
$pc: 960px;
$tb: 520px;
$sp: 350px;

@mixin pc {
  @media screen and (max-width: $pc) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: $tb) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}

/*--------------------------
* contact form
--------------------------*/
.form {
  margin-top: 32px;
  background-color: va.$form-bg;


  &__wrapper {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 4vw 0;
    margin: 0 auto;
  }

  .Form-Item {
    padding: 16px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .Form-Item-Label {
    width: 100%;
    letter-spacing: 0.05em;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .Form-Item-Label.isMsg {
    margin-top: 0;
    margin-bottom: auto;
  }

  .Form-Item-Label-Required {
    border-radius: 4px;
    box-shadow: 0 2px 5px va.$form-item-shadow;
    margin-left: 30px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background-color: va.$form-label-required;
    color: va.$form-label-text;
    font-size: 14px;
  }

  .Form-Item-Input {
    box-shadow: 0 2px 5px va.$form-item-shadow;
    border: 1px solid va.$form-item-border;
    border-radius: 6px;
    margin-left: 0px;
    margin-top: 18px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: inherit;
    width: 100%;
    background: va.$form-item-bg;
    font-size: 18px;

    &::placeholder {
      color: va.$form-item-placeholder;
    }
  }

  .Form-Item-Textarea {
    box-shadow: 0 2px 5px va.$form-item-shadow;
    border: 1px solid va.$form-item-border;
    border-radius: 6px;
    margin-left: 0;
    margin-top: 18px;
    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    flex: inherit;
    width: 100%;
    background: va.$form-item-bg;
    font-size: 16px;
  }

  .contact-type {
    display: flex;
    gap: 30px;
    margin-top: 16px;

    @include sp() {
      flex-wrap: wrap;
    }
  }
}


/*--------------------------
* privacy
--------------------------*/

.privacy {
  margin-bottom: 8vw;
  background-color: #fff;

  .sec__wrapper {
    .sec__text {
      text-align: center;
    }
  }

  .agree {
    margin-top: 32px;


    @include sp() {
      margin-top: 40px;
    }

    h3 {
      text-align: center;
    }

    &__cntent {
      margin-top: 32px;
      padding: 40px;
      text-align: left;
      background-color: va.$privacy-cntent-bg;
      height: 500px;
      overflow-y: scroll;

      @include sp() {
        margin-top: 20px;
      }

      h4 {
        margin-top: 16px;
      }
    }

    .check-text {
      margin: 30px auto;
      text-align: center;
    }

    input[type=checkbox] {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-right: 10px;
    }


    button[type=submit] {
      border: none;
    }
  }

}