@use "reset";
@use "header";
@use "base";
@use "variables" as va;
@use "footer";

@mixin sp {
  @media screen and (max-width: 520px) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: 960px) {
    @content;
  }
}

img {
  max-width: 100%;
  height: auto;
}

// .background {
//   background-color: #fff;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 50%;
//   height: 100vh;
//   z-index: -100;

//   @include tb() {
//     display: block;
//   }
// }

.split {
  position: relative;
  z-index: 2;
  display: flex;
  height: 100vh;

  @include tb() {
    display: block;
    height: auto;
    padding: 8vh 0;
  }
}

.split>* {
  width: 50%;

  @include tb() {
    width: 100%;
  }
}

.split__img-wrapper {
  position: relative;
}

.split__img {
  position: fixed;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  width: 45%;

  @include tb() {
    width: 100%;
    position: initial;
    left: 0%;
    top: 00%;
    transform: translateY(0%);
  }
}

.split__img {
  opacity: 0;
  transition: opacity .7s;

  @include tb() {
    opacity: 1;
    width: 90%;
    margin: 0 auto;
  }
}

.split.show .split__img {
  opacity: 1;
}

.split__body {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include tb() {
    display: block;
  }
}

.split__title {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

.split__text {
  margin-top: 10px;
  line-height: 1.6;
  padding: 10px;
}


.global-contact,
footer {
  position: relative;
  z-index: 3;
}

/*--------------------------
* ヘッダー
--------------------------*/

.catch {
  background-color: #E0E9F8;
  margin: 1.5rem 36px 0;
  padding: 16px 16px;
  text-align: center;
}

/*--------------------------
* title
--------------------------*/
.sec__title {
  text-align: left;
  margin: 0 auto;
  width: fit-content;

  @include tb() {
    text-align: center;
    margin: 0 auto 32px;
  }

  .ja {
    font-size: 16px;
    display: block;
  }
}

/*--------------------------
* mainvisual
--------------------------*/
.mainvisual {

  // .swiper {
  .swiper {
    width: 100%;
    position: relative;

    @include tb() {
      display: none;
    }
  }

  .fadeSwiper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include tb() {
      top: 0%;
      left: 0%;
      transform: translate(0%, 0%);
    }
  }

  .swiper-slide {
    flex-shrink: 0;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    pointer-events: none;
    transition-property: opacity;
  }

  .swiper--visual-item {
    position: relative;
    width: 100%;
    padding-top: 50vh;
    overflow: hidden;
  }


  .swiper--visual-pagination {
    display: flex;
    position: absolute;
    top: 50%;
    right: 3%;
    flex-direction: column;
    transform: translate(-3%, -50%);
    -webkit-transform: translate(-3%, -50%);
    -moz-transform: translate(-3%, -50%);
    -ms-transform: translate(-3%, -50%);
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .swiper--visual-item .bg01 {
    background-image: url(https://placehold.jp/1000x1000.png?text=1);
  }

  .swiper--visual-item .bg02 {
    background-image: url(https://placehold.jp/1000x1000.png?text=2);
  }

  .swiper--visual-item .bg03 {
    background-image: url(https://placehold.jp/1000x1000.png?text=3);
  }

  @keyframes zoomUp {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.15);
    }
  }

  .swiper-slide-active figure {
    animation: zoomUp 10s linear 0s 1 normal both;
  }

  .slide-img img {
    display: block;
  }

  .swiper-pagination-bullet {
    cursor: pointer;
    display: block;
    border-radius: 50%;
    opacity: 1;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    flex-direction: column;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #97B5E7;
  }

  .swiper-pagination-bullet {
    margin-top: 32px;
  }

  .swiper-pagination-bullet:first-child {
    margin-top: 0px;
  }

  /*--------------------------
  * js
  --------------------------*/
  /* swiper */
  .fadeSwiper {
    position: relative;
    overflow: hidden;
    list-style: none;
    margin: 0 auto;
  }

  .swiper-wrapper {
    position: relative;
    display: flex;
    box-sizing: content-box;
  }

  /* フェーイド */
  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }
}

/*--------------------------
    * concept
    --------------------------*/
.concept {
  &-title {
    font-size: 1.5em;
    text-align: center;
  }

  &-text {
    max-width: 640px;
    margin-top: 32px;
    width: 90%;
    margin: 32px auto 0;
  }
}

/*--------------------------
    * service
    --------------------------*/
.service {

  &-menu__list {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 16px;

    li {
      margin-top: 16px;
    }

    @include tb() {
      display: none;
    }
  }

  .swiper {
    overflow: hidden;
    list-style: none;
    position: relative;

    .service-img {
      width: 80%;
      margin: 0 auto;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
      }

      &__text {
        color: #fff;
        font-size: 1.5em;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        @include tb() {
          font-size: 1.3rem;
        }

        @include sp() {
          font-size: 1rem;
        }
      }
    }

    &-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      transition-property: transform;
      box-sizing: content-box;
    }

    &-slide {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      position: relative;
      transition-property: transform;
    }

    &-pagination {
      margin-top: 16px;
      text-align: center;
      transition: .3s opacity;
      transform: translate3d(0, 0, 0);

      &-bullet {
        cursor: pointer;
        width: 14px;
        height: 14px;
        display: inline-block;
        border-radius: 50%;
        opacity: 0.7;
        margin: 0 24px 0 0;
        background-color: #E0E9F8;
        border: 2px solid #E0E9F8;

        &-active {
          opacity: 1;
          background-color: #202A39;
          border: 2px solid #202A39;
        }
      }
    }

    &-button-next,
    &-button-prev {
      position: absolute;
      top: 35%;
      cursor: pointer;
      color: #202A39;
      font-size: 3rem;
    }

    &-button-next {
      right: 4%;
      z-index: 10;

      &::after {
        content: ">";
      }
    }

    &-button-prev {
      left: 4%;
      z-index: 10;

      &::after {
        content: "<";
      }
    }
  }

  .btn {
    margin-top: 32px;
  }
}

/*
--------------------------------------
4.company
--------------------------------------
*/

.company-visual {
  width: 85%;
  margin: auto;

  .btn {
    margin-top: 32px;
  }
}