@charset "UTF-8";

/*--------------------------
* 共通
--------------------------*/
@use "reset";
@use "header";
@use "svg-anime";
@use "base";
@use "variables"as va;
@use "fonts"as fo;
@use "footer";
// レスポンシブ
$pc: 960px;
$tb: 520px;
$sp: 350px;

@mixin pc {
  @media screen and (max-width: $pc) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: $tb) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}

#particles-js {
  position: fixed;
  /*描画固定*/
  z-index: -1;
  /*描画を一番下に*/
  width: 100%;
  height: 100%;
  background-color: #fff;
  /*背景色*/
}

img {
  max-width: 100%;
  height: auto;
}

.split {
  position: relative;
  z-index: 2;
  display: flex;
  height: 100vh;

  @include pc() {
    display: block;
    height: auto;
    padding: 8vh 0;
  }
}

.split>* {
  width: 50%;

  @include pc() {
    width: 100%;
  }
}

.split__img-wrapper {
  position: relative;
}

.split__img {
  position: fixed;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  width: 45%;

  @include pc() {
    width: 100%;
    position: initial;
    left: 0%;
    top: 00%;
    transform: translateY(0%);
  }
}

.split__img {
  opacity: 0;
  transition: opacity 0s;

  @include pc() {
    opacity: 1;
    width: 90%;
    margin: 0 auto;
  }
}

.split.show {
  border: none;

  .split__img {
    opacity: 1;
  }
}

.split__body {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include pc() {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}

.split__title {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

.split__text {
  margin-top: 10px;
  line-height: 1.6;
  padding: 10px;
}


.global-contact,
footer {
  position: relative;
  z-index: 3;
}

/*--------------------------
* ヘッダー
--------------------------*/

.catch {
  background-color: va.$catch-bg;
  margin: 1.5rem 36px 0;
  padding: 16px 16px;
  text-align: center;
}

/*--------------------------
* title
--------------------------*/
.sec__title {
  text-align: left;
  margin: 0 auto;
  width: fit-content;

  @include pc() {
    text-align: center;
    margin: 0 auto 32px;
  }

  .ja {
    font-size: 16px;
    display: block;
  }

  .en {
    font-size: 1.5em;
    display: block;
  }
}

/*--------------------------
* mainvisual
--------------------------*/
.mainvisual {
  @include pc() {
    padding-top: 12vh;
  }

  .split__body {
    @include pc() {
      display: none;
    }
  }
}

// .swiper {
.swiper {
  width: 100%;
  position: relative;
}

.fadeSwiper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include pc() {
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }
}

.swiper-slide {
  flex-shrink: 0;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  pointer-events: none;
  transition-property: opacity;
}

.swiper--visual-item {
  position: relative;
  width: 100%;
  padding-top: 500px;
  overflow: hidden;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper--visual-item .bg01 {
  background-image: url(../img/homevisual/main1.jpg);
}

.swiper--visual-item .bg02 {
  background-image: url(../img/homevisual/main2.jpg);
}


.swiper--visual-item .bg03 {
  background-image: url(../img/homevisual/main3.jpg);
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}

.swiper-slide-active figure {
  animation: zoomUp 10s linear 0s 1 normal both;
}

.slide-img img {
  display: block;
}


.swiper--visual-pagination {
  display: none;
  // display: flex;
  // position: absolute;
  // top: 50%;
  // right: 3%;
  // flex-direction: column;
  // transform: translateY(-50%);
}

// .swiper-pagination-bullet {
//   cursor: pointer;
//   display: block;
//   border-radius: 50%;
//   opacity: 1;
//   width: 16px;
//   height: 16px;
//   background-color: va.$pagination-bullet;
//   flex-direction: column;
// }

// .swiper-pagination-bullet-active {
//   opacity: 1;
//   background-color: va.$pagination-active-a;
// }

// .swiper-pagination-bullet {
//   margin-top: 32px;
// }

// .swiper-pagination-bullet:first-child {
//   margin-top: 0px;
// }

/*--------------------------
  * js
  --------------------------*/
/* swiper */
.fadeSwiper {
  position: relative;
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
}

.swiper-wrapper {
  position: relative;
  display: flex;
  box-sizing: content-box;
}

/* フェーイド */
.swiper-pagination {
  text-align: center;
  transition: .3s opacity;
  z-index: 10;
}

/*--------------------------
    * concept
    --------------------------*/
.concept {
  &-title {
    font-size: 1.5em;
    text-align: center;
  }

  &-text {
    max-width: 640px;
    width: 90%;
    margin: 32px auto 0;
  }
}

/*--------------------------
    * service
    --------------------------*/
.service {
  z-index: 40;

  &-menu__list {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 16px;

    li {
      margin-top: 16px;
    }

    @include pc() {
      display: none;
    }
  }

  .swiper {
    overflow: hidden;
    list-style: none;
    position: relative;

    .service-img {
      width: 80%;
      margin: 0 auto;
      position: relative;
      z-index: 50;

      a {
        height: 100%;
        display: block;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: va.$smoke;
          z-index: 1;
        }
      }

      img {
        height: 500px;

        @include tb() {
          height: 300px;
        }
      }



      &__text {
        color: va.$service-img-text;
        font-size: 1.6em;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        @include tb() {
          font-size: 1.3rem;
        }
      }
    }

    &-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      transition-property: transform;
      box-sizing: content-box;
    }

    &-slide {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      position: relative;
      transition-property: transform;
      pointer-events: inherit;
    }

    &-pagination {
      margin-top: 16px;
      text-align: center;
      transition: .3s opacity;
      transform: translate3d(0, 0, 0);

      &-bullet {
        cursor: pointer;
        display: inline-block;
        border-radius: 50%;
        opacity: 0.7;
        margin: 0 24px 0 0;
        width: 16px;
        height: 16px;
        background-color: va.$pagination-bullet;

        &-active {
          opacity: 1;
          background-color: va.$pagination-active-b;
        }
      }
    }

    &-button-next,
    &-button-prev {
      position: absolute;
      top: calc(50% - 60px);
      cursor: pointer;
      color: va.$swiper-button;
      font-size: 3rem;
    }

    &-button-next {
      right: 8%;
      z-index: 10;

      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        transform: rotate(45deg);
        transition: all 0.5s ease;
      }
    }

    &-button-prev {
      left: 4%;
      z-index: 10;

      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        transform: rotate(-135deg);
        transition: all 0.5s ease;
      }
    }
  }

  .btn {
    margin-top: 32px;
  }
}

/*
--------------------------------------
4.company
--------------------------------------
*/

.company-visual {
  width: 85%;
  margin: auto;

  .btn {
    margin-top: 32px;
  }
}