@charset "UTF-8";

/*--------------------------
* 共通
--------------------------*/

@use "reset";
@use "header";
@use "base";
@use "variables";
@use "footer";


@mixin sp {
  @media screen and (max-width: 520px) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: 960px) {
    @content;
  }
}

/*--------------------------
* recruit
--------------------------*/
.recruit {
  &__flow {
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include sp() {
      display: block;
    }

    li {
      color: #333;
      width: calc(100% / 4);
      background: #F7DAE1;
      line-height: 50px;
      text-align: center;
      position: relative;

      @include sp() {
        line-height: 70px;
        width: 80%;
        margin: 0 auto 40px;
      }

      &:first-child::before,
      &:last-child::after {
        content: none;
      }

      &:last-child {
        color: #FFF;
        background: #ED5A87;

        @include sp() {
          margin: 0 auto 0;
        }
      }

      &::before,
      &::after {
        content: "";
        width: 0;
        height: 0;
        display: block;
        position: absolute;
      }

      &::before {
        border: solid 32px transparent;
        border-right: solid 13px transparent;
        border-left: solid 13px #FFF;
        top: -7px;
        left: 0;
        z-index: 1;

        @include sp() {
          content: none;
        }
      }

      &::after {
        border: solid 25px transparent;
        border-left: solid 10px #F7DAE1;
        border-right: solid 10px transparent;
        top: 0;
        right: -20px;
        z-index: 2;

        @include sp() {
          transform: translate(50%, 0);
          border-width: 16px 20px 0 20px;
          border-color: #ed5a86 transparent transparent transparent;
          left: 50%;
          top: 150%;
          transform: translate(-50%, -150%);
        }
      }

      &:not(:first-child):not(:last-child) {
        padding: 0 0 0 10px;

        @include sp() {
          padding: 0;
        }
      }
    }
  }

  .supplement {
    margin-top: 16px;

    @include sp() {
      width: 80%;
      margin: 16px auto 0;
    }
  }

  .btn {
    margin-top: 32px;
  }
}


/*--------------------------
* employed
--------------------------*/

.employed {
  background-color: #E0E9F8;

}

/*--------------------------
* license
--------------------------*/

.license__list {
  width: 100%;
  margin: 32px auto 20px;
  padding: 52px 20px 32px 1.5em;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 2px solid #97B5E7;
    content: '';
  }

  &::before {
    top: 0px;
    left: 0px;
    z-index: -1;

    @include sp() {
      left: 2px;
    }
  }

  &::after {
    top: 20px;
    left: -20px;
    z-index: -1;

    @include sp() {
      left: -16px;
    }
  }

  li {
    list-style-type: square;
    margin-bottom: 16px;

    span {
      display: block;
      margin-top: 8px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*--------------------------
* recruitment
--------------------------*/

.recruitment {
  background-color: #fff;

  .recruitment-table {
    margin-top: 32px;
    width: 100%;
    line-height: 34px;
  }

  tr {
    &:first-child {
      td {
        br {
          &:nth-of-type(2n-1) {
            display: none;

            @include sp() {
              display: inline;
            }
          }
        }
      }
    }

    th {
      border-bottom: solid 1px #97B5E7;
      padding: 30px;
      width: 35%;
      font-size: 18px;
      font-weight: bold;
      background-color: #E0E9F8;

      @include sp() {
        width: 25%;
        writing-mode: vertical-rl;
      }
    }

    td {
      border-bottom: solid 1px #97B5E7;
      width: 65%;
      padding: 30px;

      @include sp() {
        width: 75%;
      }
    }

    &:first-of-type {
      th {
        border-top: solid 1px #97B5E7;
      }

      td {
        border-top: solid 1px #97B5E7;
      }
    }
  }

  span {
    margin-top: 20px;
    display: inline-block;
    line-height: 35px;

    @include sp() {
      font-size: 0.9rem;
      line-height: 30px;
    }
  }
}