@charset "UTF-8";

/*--------------------------
* 共通
--------------------------*/

@use "reset";
@use "header";
@use "base";
@use "variables" as va;
@use "fonts" as fo;
@use "footer";

// レスポンシブ
$pc: 960px;
$tb: 520px;
$sp: 350px;

@mixin pc {
  @media screen and (max-width: $pc) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: $tb) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}

/*--------------------------
* recruit flow
--------------------------*/
.recruit {
  &__flow {
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include pc() {
      display: block;
    }

    li {
      width: calc(100% / 4);
      background: va.$recruit-item-bg;
      line-height: 50px;
      text-align: center;
      position: relative;

      @include pc() {
        line-height: 70px;
        width: 80%;
        margin: 0 auto 40px;
      }

      &:first-child::before,
      &:last-child::after {
        content: none;
      }

      &:last-child {
        color: va.$recruit-item;
        background: va.$recruit-item-bg-last;

        @include pc() {
          margin: 0 auto 0;
        }
      }

      &::before,
      &::after {
        content: "";
        width: 0;
        height: 0;
        display: block;
        position: absolute;
      }

      &::before {
        border: solid 32px transparent;
        border-right: solid 13px transparent;
        border-left: solid 13px va.$recruit-item;
        top: -7px;
        left: 0;
        z-index: 1;

        @include pc() {
          content: none;
        }
      }

      &::after {
        border: solid 25px transparent;
        border-left: solid 10px va.$recruit-item-bg;
        border-right: solid 10px transparent;
        top: 0;
        right: -20px;
        z-index: 2;

        @include pc() {
          transform: translate(50%, 0);
          border-width: 16px 20px 0 20px;
          border-color: va.$recruit-item-bg-last transparent transparent transparent;
          left: 50%;
          top: 150%;
          transform: translate(-50%, -150%);
        }
      }

      &:not(:first-child):not(:last-child) {
        padding: 0 0 0 10px;

        @include pc() {
          padding: 0;
        }
      }
    }
  }

  .supplement {
    margin-top: 16px;
    color: va.$recruit-text-sb;

    @include tb() {
      width: 80%;
      margin: 16px auto 0;
    }
  }

  .btn {
    margin-top: 32px;
  }
}


/*--------------------------
* employed
--------------------------*/

.employed {
  background-color: va.$employed-bg;

}

/*--------------------------
* license
--------------------------*/

.license__list {
  width: 100%;
  margin: 32px auto 20px;
  padding: 52px 20px 32px 1.5em;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 2px solid va.$license-border;
    content: '';
  }

  &::before {
    top: 0px;
    left: 0px;
    z-index: -1;

    @include tb() {
      left: 2px;
    }
  }

  &::after {
    top: 20px;
    left: -20px;
    z-index: -1;

    @include tb() {
      left: -16px;
    }
  }

  li {
    list-style-type: square;
    margin-bottom: 16px;

    span {
      display: block;
      margin-top: 8px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*--------------------------
* recruitment
--------------------------*/

.recruitment {
  background-color: va.$recruitment-bg;

  .recruitment-table {
    margin-top: 32px;
    width: 100%;
    line-height: 34px;
  }

  tr {
    &:first-child {
      td {
        br {
          &:nth-of-type(2n-1) {
            display: none;

            @include tb() {
              display: inline;
            }
          }
        }
      }
    }

    th {
      border-bottom: solid 1px va.$recruitment-table;
      padding: 30px;
      width: 35%;
      font-size: 18px;
      font-weight: bold;
      background-color: va.$recruitment-th-bg;

      @include tb() {
        width: 25%;
        writing-mode: vertical-rl;

        // Safari対応
        div {
          font-weight: bold;
          writing-mode: vertical-lr;
          min-height: 250px;
        }
      }
    }

    td {
      border-bottom: solid 1px va.$recruitment-table;
      width: 65%;
      padding: 30px;

      @include tb() {
        width: 75%;
      }
    }

    &:first-of-type {
      th {
        border-top: solid 1px va.$recruitment-table;
      }

      td {
        border-top: solid 1px va.$recruitment-table;
      }
    }
  }

  span {
    margin-top: 20px;
    display: inline-block;
    line-height: 35px;

    @include tb() {
      font-size: 0.9em;
      line-height: 30px;
    }
  }
}