@charset "UTF-8";

/*--------------------------
* 共通
--------------------------*/

@use "reset";
@use "header";
@use "base";
@use "variables" as va;
@use "footer";

/*--------------------------------------
*	explanation
--------------------------------------*/
.explanation__content {
  display: flex;
  align-items: center;

  &__img {
    width: 50%;
    padding-right: 24px;
  }

  &__text {
    width: 50%;
    padding-left: 24px;
  }
}

/*--------------------------------------
*	merit
--------------------------------------*/
.merit {
  background-color: #E0E9F8;

  &__list {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &--item {
      width: 24%;
      background: #fff;
      padding: 24px 16px 32px;
    }
  }

  &__text {
    text-align: center;
    padding-top: 34px;
  }

  .merit__img {
    width: 65%;
    margin: 0 auto;
  }
}

/*--------------------------------------
*	ratio
--------------------------------------*/
.tb-ratio {
  display: none;
}

.ratio {
  .graphic {
    margin-top: 32px;
  }

  .chart {
    overflow: hidden;
    animation: expand 1.5s ease forwards;
  }

  @keyframes expand {
    from {
      width: 0%;
    }

    to {
      width: 100%;
    }
  }

  .block {
    display: block;
    height: 50px;
    color: #fff;
    float: left;
    background-color: #092A60;
    position: relative;
    overflow: hidden;
  }

  .block:nth-of-type(2),
  .legend li:nth-of-type(2):before {
    background-color: #8BB6FF;
  }

  .block:nth-of-type(3),
  .legend li:nth-of-type(3):before {
    background-color: #5A97FF;
  }

  .block:nth-of-type(4),
  .legend li:nth-of-type(4):before {
    background-color: #D6E5FF;
  }

  .value {
    display: block;
    line-height: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .x-axis {
    text-align: center;
    padding: 2em 0;
  }

  .legend {
    margin: 0 auto;
    padding: 0;

    li {
      display: inline-block;
      padding: .25em 1em;
      line-height: 1em;

      &:before {
        content: "";
        margin-right: .5em;
        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: #092A60;
      }
    }
  }
}

/*--------------------------------------
*	introduction
--------------------------------------*/
.introduction-flow {
  width: 100%;
  border-spacing: 0px 32px;

  tbody {
    position: relative;
  }

  tbody::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 5.3%;
    border-left: 5px dotted #202A39;
    transform: translateX(-10%);
    height: 90%;
    width: 5px;
  }

  .step-box {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    background: #202A39;
    color: #fff;
    border-radius: 50%;

    &__number {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  .step-text {
    width: 85%;
    padding: 8px 2em;
    border-bottom: 1px solid;
    position: relative;

    &__title {
      font-size: 1.2em;
      font-weight: 700;
    }

    &__comment {
      padding-top: 16px;
    }

    &::before {
      left: 50%;
      top: 110%;
      transform: translateX(-50%);
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid #202A39;
    }

    span {
      color: grey;
    }
  }

  tr:last-child .step-text:before {
    content: none;
  }
}





@media screen and (max-width: 960px) {

  /*-------------------------
   * hamburger　nav
  --------------------------*/
  .hamburger {
    display: block;
    position: fixed;
    top: 2%;
    left: 3%;
    text-align: center;
    z-index: 9999;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .hamburger--trigger {
    width: 65px;
    height: 60px;
    position: relative;
  }

  .hamburger--trigger span {
    display: inline-block;
    transition: all 0.2s;
    box-sizing: border-box;
    position: absolute;
    right: 13px;
    margin: 0 auto;
    width: 39px;
    height: 1.5px;
    background-color: #19A2DB;
    border-radius: 0;
  }

  .hamburger--trigger span:nth-of-type(1) {
    top: 18px;
  }

  .hamburger--trigger span:nth-of-type(2) {
    top: 29px;
  }

  .hamburger--trigger span:nth-of-type(3) {
    top: 40px;
  }

  /*--------------------------
   * hamburger js
  --------------------------*/
  .drawer--active .tb-gnavi {
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 999;
  }

  .btn--active .hamburger--trigger span:nth-of-type(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .btn--active .hamburger--trigger span:nth-of-type(2) {
    width: 0;
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
  }

  .btn--active .hamburger--trigger span:nth-of-type(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

  /*--------------------------
     * セクション
  --------------------------*/
  .sec__wrapper {
    width: 90%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

  .sub-header__logo {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  .pc-gnavi {
    display: none;
  }

  /* グラフ */
  .graphic {
    display: none;
  }

  .tb-ratio {
    display: block;
    text-align: center;
    margin-top: 32px;
  }

  .explanation__content {
    flex-direction: column-reverse;

    &__img {
      width: 80%;
      padding: 32px 0 0;
      margin: 0 auto;
    }

    &__text {
      width: 100%;
      padding: 0;
      margin: 0 auto;
    }
  }

  .merit__list {
    justify-content: space-between;

    &--item {
      width: 44%;
      margin-bottom: 32px;
    }
  }

  // 円グラフ
  .tb-ratio {
    display: block;
  }

  .circle {
    display: inline-block;
    transform: rotate(-90deg);
  }

  .circle .type {
    fill: transparent;
    stroke-width: 100;
  }

  .typeA4 {
    stroke: #092A60;
  }

  .typeA3 {
    stroke: #8BB6FF;
  }

  .typeA2 {
    stroke: #5A97FF;
  }

  .typeA1 {
    stroke: #D6E5FF;
  }

  .typeA1 {
    animation: circleA1 1s forwards;
  }

  @-webkit-keyframes circleA1 {
    0% {
      stroke-dasharray: 0 565;
    }

    99.9%,
    to {
      stroke-dasharray: 56.5 0;
    }
  }

  @keyframes circleA1 {
    0% {
      stroke-dasharray: 0 565;
    }

    99.9%,
    to {
      stroke-dasharray: 56.5 565;
    }
  }

  .typeA2 {
    -webkit-animation: circleA2 1s forwards;
    animation: circleA2 1s forwards;
  }

  @-webkit-keyframes circleA2 {
    0% {
      stroke-dasharray: 0 565;
    }

    99.9%,
    to {
      stroke-dasharray: 113 565;
    }
  }

  @keyframes circleA2 {
    0% {
      stroke-dasharray: 0 565;
    }

    99.9%,
    to {
      stroke-dasharray: 113 565;
    }
  }

  .typeA3 {
    -webkit-animation: circleA3 1s forwards;
    animation: circleA3 1s forwards;
  }

  @-webkit-keyframes circleA3 {
    0% {
      stroke-dasharray: 0 565;
    }

    99.9%,
    to {
      stroke-dasharray: 169.5 565;
    }
  }

  @keyframes circleA3 {
    0% {
      stroke-dasharray: 0 565;
    }

    99.9%,
    to {
      stroke-dasharray: 282.5 565;
    }
  }

  .typeA4 {
    -webkit-animation: circleA4 1s forwards;
    animation: circleA4 1s forwards;
  }

  @-webkit-keyframes circleA4 {
    0% {
      stroke-dasharray: 0 565;
    }

    99.9%,
    to {
      stroke-dasharray: 282.5 565;
    }
  }

  @keyframes circleA4 {
    0% {
      stroke-dasharray: 0 565;
    }

    99.9%,
    to {
      stroke-dasharray: 565 565;
    }
  }






  // 流れ
  .introduction-flow {
    border-spacing: 0px 50px;
  }

  .introduction-flow tbody::before {
    content: none;
  }

  .introduction-flow {
    .step-box {
      display: block;
      width: 70px;
      height: 70px;
      margin-left: 32px;
    }

    .step-text {
      display: block;
      width: 80%;
      margin: 0 auto;
      padding: 16px 1em;
    }
  }
}

@media screen and (max-width: 520px) {
  .hamburger {
    top: 0;
  }

  .sub-header {
    height: 64px;
  }

  .sub-header__logo {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .sub-header__logo img {
    width: 150px;
    height: auto;
  }

  .hero {
    margin-top: 64px;
  }

  .ratio .x-axis {
    text-align: left;
  }

  .ratio .legend li {
    display: block;
  }

  .merit__list--item {
    width: 80%;
    margin: 0 auto 32px;
  }

  .introduction-flow {
    .step-box {
      margin-left: 0;
    }

    .step-text {
      width: 100%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 350px) {
  .tb-gnavi__list {
    padding-top: 0px;
  }

  .tb-gnavi__list li {
    margin-bottom: 8px;
  }

  .explanation__content__img {
    width: 100%;
  }
}