@charset "UTF-8";

/*--------------------------
* 共通
--------------------------*/

@use "reset";
@use "header";
@use "base";
@use "variables" as va;
@use "fonts" as fo;
@use "footer";


// レスポンシブ
$pc: 960px;
$tb: 520px;
$sp: 350px;

@mixin pc {
  @media screen and (max-width: $pc) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: $tb) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}

/*--------------------------------------
*	explanation
--------------------------------------*/
.explanation__content {
  display: flex;
  align-items: center;

  @include pc() {
    flex-direction: column-reverse;
  }

  &__img {
    width: 50%;
    padding-right: 24px;

    @include pc() {
      width: 80%;
      padding: 32px 0 0;
      margin: 0 auto;

      @include sp() {
        width: 100%;
      }
    }

    &__text {
      @include pc() {
        width: 100%;
        padding: 0;
        margin: 0 auto;
      }
    }

    width: 50%;
    padding-left: 24px;
  }
}

/*--------------------------------------
*	merit
--------------------------------------*/
.merit {
  background-color: va.$merit-bg;

  &__list {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include pc() {
      justify-content: space-between;
    }

    &--item {
      width: 24%;
      background: va.$merit-iten-bg;
      padding: 24px 16px 32px;

      @include pc() {
        width: 45%;
        margin-bottom: 32px;
      }

      @include tb() {
        margin: 0 auto 32px;
      }

      @include sp() {
        br {
          display: none;
        }
      }
    }
  }

  &__text {
    text-align: center;
    padding-top: 34px;
  }

  .merit__img {
    width: 65%;
    margin: 0 auto;
  }
}

/*--------------------------------------
*	ratio
--------------------------------------*/

.chart-container {
  display: flex;
  margin: 32px auto 0;
  position: relative;
  align-items: center;
  width: 100%;

  @include tb() {
    display: block;
  }

  .chart,
  .label {
    width: 50%;

    @include tb() {
      width: 100%;
    }

    @include sp() {
      width: 80%;
      margin: 0 auto;
    }
  }

  .label {
    @include tb() {
      margin-top: 16px;
    }
  }


  .label li {
    position: relative;
    display: block;
    padding-left: 2em;
    line-height: 2em;
  }

  .label li::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .label li:nth-of-type(1):before {
    background-color: va.$label-front-bg;
  }

  .label li:nth-of-type(2):before {
    background-color: va.$label-back-bg;
  }

  .label li:nth-of-type(3):before {
    background-color: va.$label-infra-bg;
  }

  .label li:nth-of-type(4):before {
    background-color: va.$label-others-bg
  }
}

/*--------------------------------------
*	introduction
--------------------------------------*/
.introduction-flow {
  width: 100%;
  border-spacing: 0px 32px;

  @include pc() {
    border-spacing: 0px 50px;
  }

  .step-box {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    background: va.$introduction-tbody;
    color: va.$introduction-step;
    border-radius: 50%;

    @include pc() {
      display: block;
      width: 80%;
      height: 70px;
      border-radius: 5px;
      margin: 0 auto;

      br {
        display: none;
      }
    }

    @include tb() {
      width: 100%;
    }

    &__number {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  .step-text {
    width: 85%;
    padding: 8px 2em;
    border-bottom: 1px solid;
    position: relative;

    @include pc() {
      display: block;
      width: 80%;
      margin: 0 auto;
      padding: 16px 1em;
    }

    @include tb() {
      width: 100%;
      margin: 0 auto;
    }

    &__title {
      font-size: 1.2em;
      font-weight: 700;
    }

    &__comment {
      padding-top: 16px;
    }

    &::before {
      left: 50%;
      top: 110%;
      transform: translateX(-50%);
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid va.$introduction-tbody;
    }
  }

  tr:last-child .step-text:before {
    content: none;
  }
}