@charset "UTF-8";

/*--------------------------
* 共通
--------------------------*/

@use "reset";
@use "header";
@use "base";
@use "variables" as va;
@use "footer";

/*--------------------------------------
*	can
--------------------------------------*/
.can {
  background-color: #E0E9F8;
}

.can__list {
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* 中央寄せ */
}

.can__list--item {
  margin-bottom: 24px;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #fff;
  position: relative;
}

.circle-content {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.can__text {
  text-align: center;
  margin-top: 14px;
}


/*--------------------------------------
*	works
--------------------------------------*/
.workswiper {
  margin-top: 32px;
}

.swiper {
  overflow: hidden;

  &-wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }

  &-slide {
    flex-shrink: 0;

  }
}

/* スライドの動き等速 */
.swiper-wrapper {
  transition-timing-function: linear;
}

/* 画像のサイズ調整 */
.works__list--item img {
  height: auto;
  width: 100%;
}

// btn
.works {
  .btn {
    margin-top: 32px;
    text-align: center;
  }
}


/*--------------------------------------
*	production
--------------------------------------*/
.production-step {
  width: 100%;
  margin-top: 32px;
  border-spacing: 0px 24px;
}

tbody {
  position: relative;
}

tbody::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 10%;
  border-left: 5px dotted #202A39;
  transform: translateX(-10%);
  height: 90%;
  width: 5px;
}

.step-box {
  width: 20%;
  padding: 24px;
  background: #202A39;
  vertical-align: middle;
  text-align: left;
  overflow: visible;
  position: relative;
  color: #fff;

  &:after {
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    border-left-color: #202A39;
    border-width: 16px;
  }

  &__number {
    text-align: center;
  }

  &__title {
    text-align: center;
    margin-top: 24px;
  }
}

.step-text {
  width: 80%;
  padding: 24px 4em;
  border: 1px solid #202A39;

  span {
    color: grey;
  }
}


@media screen and (max-width:960px) {

  /*--------------------------
    * セクション
    --------------------------*/
  .sec__wrapper {
    width: 90%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

  .sub-header__logo {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  // pc非表示
  .pc-gnavi {
    display: none;
  }

  // can
  .can__list--item {
    width: 45%;
  }

  .circle {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }

  tbody::before {
    content: none;
  }

  .step-box {
    width: 100%;
    display: block;
    padding: 16px;

    &__title {
      margin-top: 14px;
    }

    &:after {
      content: none;
    }
  }

  .step-text {
    width: 100%;
    display: block;
    padding: 16px 2em;
  }
}

@media screen and (max-width:520px) {

  .sub-header {
    height: 64px
  }

  .sub-header__logo {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 150px;
      height: auto;
    }
  }

  .hero {
    margin-top: 64px
  }
}

@media screen and (max-width:350px) {
  .tb-gnavi__list {
    padding-top: 0px;

    li {
      margin-bottom: 8px;
    }
  }

  .circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
}