@charset "UTF-8";

/*--------------------------
* 共通
--------------------------*/

@use "reset";
@use "header";
@use "base";
@use "variables" as va;
@use "fonts" as fo;
@use "footer";


// レスポンシブ
$pc: 960px;
$tb: 520px;
$sp: 350px;

@mixin pc {
  @media screen and (max-width: $pc) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: $tb) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}

/*--------------------------------------
*	explanation
--------------------------------------*/
.explanation__content {
  display: flex;
  align-items: center;

  @include pc() {
    flex-direction: column-reverse;
  }

  &__img {
    width: 50%;
    padding-right: 24px;

    @include pc() {
      width: 80%;
      padding: 32px 0 0;
      margin: 0 auto;

      @include sp() {
        width: 100%;
      }
    }

    &__text {
      @include pc() {
        width: 100%;
        padding: 0;
        margin: 0 auto;
      }
    }

    width: 50%;
    padding-left: 24px;
  }
}

/*--------------------------------------
*	merit
--------------------------------------*/
.merit {
  background-color: va.$merit-bg;

  &__list {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include pc() {
      justify-content: space-between;
    }

    &--item {
      width: 24%;
      background: va.$merit-iten-bg;
      padding: 24px 16px 32px;

      @include pc() {
        width: 44%;
        margin-bottom: 32px;
      }

      @include tb() {
        width: 80%;
        margin: 0 auto 32px;
      }
    }
  }

  &__text {
    text-align: center;
    padding-top: 34px;
  }

  .merit__img {
    width: 65%;
    margin: 0 auto;
  }
}

/*--------------------------------------
*	ratio
--------------------------------------*/
.tb-ratio {
  display: none;

  @include tb() {
    display: block;
    text-align: center;
    margin-top: 32px;
  }
}

.ratio {
  .graphic {
    margin-top: 32px;

    @include tb() {
      display: none;
    }
  }

  .chart {
    overflow: hidden;
    animation: expand 1.5s ease forwards;
  }

  @keyframes expand {
    from {
      width: 0%;
    }

    to {
      width: 100%;
    }
  }

  .block {
    display: block;
    height: 50px;
    color: #fff;
    float: left;
    position: relative;
    overflow: hidden;
  }

  .block:nth-of-type(1),
  .legend li:nth-of-type(1):before {
    background-color: va.$block-front-bg;
  }

  .block:nth-of-type(2),
  .legend li:nth-of-type(2):before {
    background-color: va.$block-back-bg;
  }

  .block:nth-of-type(3),
  .legend li:nth-of-type(3):before {
    background-color: va.$block-infra-bg;
  }

  .block:nth-of-type(4),
  .legend li:nth-of-type(4):before {
    background-color: va.$block-others-bg
  }

  .value {
    display: block;
    line-height: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .x-axis {
    text-align: center;
    padding: 2em 0;

    @include tb() {
      text-align: left;
    }
  }

  .legend {
    margin: 0 auto;
    padding: 0;

    li {
      display: inline-block;
      padding: .25em 1em;
      line-height: 1em;

      @include tb() {
        display: block;
      }

      &:before {
        content: "";
        margin-right: .5em;
        display: inline-block;
        width: 16px;
        height: 16px;
      }
    }
  }
}

@include pc() {
  .circle {
    display: inline-block;
    transform: rotate(-90deg);
  }

  .circle .type {
    fill: transparent;
    stroke-width: 100;
  }

  .typeA4 {
    stroke: va.$block-front-bg;
  }

  .typeA3 {
    stroke: va.$block-back-bg;
  }

  .typeA2 {
    stroke: va.$block-infra-bg;
  }

  .typeA1 {
    stroke: va.$block-others-bg;
  }

  .typeA1 {
    animation: circleA1 1s forwards;
  }

  @keyframes circleA1 {
    0% {
      stroke-dasharray: 0 565;
    }

    99.9%,
    to {
      stroke-dasharray: 56.5 565;
    }
  }

  .typeA2 {
    -webkit-animation: circleA2 1s forwards;
    animation: circleA2 1s forwards;
  }

  @keyframes circleA2 {
    0% {
      stroke-dasharray: 0 565;
    }

    99.9%,
    to {
      stroke-dasharray: 113 565;
    }
  }

  .typeA3 {
    -webkit-animation: circleA3 1s forwards;
    animation: circleA3 1s forwards;
  }

  @keyframes circleA3 {
    0% {
      stroke-dasharray: 0 565;
    }

    99.9%,
    to {
      stroke-dasharray: 226 565;
    }
  }

  .typeA4 {
    -webkit-animation: circleA4 1s forwards;
    animation: circleA4 1s forwards;
  }

  @keyframes circleA4 {
    0% {
      stroke-dasharray: 0 565;
    }

    99.9%,
    to {
      stroke-dasharray: 565 565;
    }
  }
}

/*--------------------------------------
*	introduction
--------------------------------------*/
.introduction-flow {
  width: 100%;
  border-spacing: 0px 32px;

  @include pc() {
    border-spacing: 0px 50px;
  }

  tbody {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 32px;
      left: 5.3%;
      border-left: 5px dotted va.$introduction-tbody;
      transform: translateX(-10%);
      height: 90%;
      width: 5px;

      @include pc() {
        content: none;
      }
    }
  }

  .step-box {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    background: va.$introduction-tbody;
    color: va.$introduction-step;
    border-radius: 50%;

    @include pc() {
      display: block;
      width: 70px;
      height: 70px;
      margin-left: 32px;
    }

    @include tb() {
      margin-left: 0;
    }

    &__number {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  .step-text {
    width: 85%;
    padding: 8px 2em;
    border-bottom: 1px solid;
    position: relative;

    @include pc() {
      display: block;
      width: 80%;
      margin: 0 auto;
      padding: 16px 1em;
    }

    @include tb() {
      width: 100%;
      margin: 0 auto;
    }

    &__title {
      font-size: 1.2em;
      font-weight: 700;
    }

    &__comment {
      padding-top: 16px;
    }

    &::before {
      left: 50%;
      top: 110%;
      transform: translateX(-50%);
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid va.$introduction-tbody;
    }
  }

  tr:last-child .step-text:before {
    content: none;
  }
}