@charset "UTF-8";

/*--------------------------
* 共通
--------------------------*/

@use "reset";
@use "header";
@use "base";
@use "variables" as va;
@use "footer";


// セクション共通
.produce,
.consign,
.ses {
  .content {
    display: flex;

    &__text {
      padding-right: 24px;
      width: 50%;

      .title {
        font-size: 1.6em;
        padding: 2rem 1.5rem;
      }

      p {
        margin: 48px 0px 48px 16px;
      }
    }

    &__img {
      margin-bottom: 40px; // 背景画像分（下）の余白
      padding-left: 24px;
      width: 50%;
      height: 400px;
      z-index: 0;
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: -1;
      }
    }
  }
}

// consignテキストと画像反対
.consign {
  .row {
    flex-direction: row-reverse;

    .content__text {
      padding-right: 0px;
      padding-left: 24px;
    }

    .content__img {
      padding-left: 0px;
      padding-right: 24px;
    }
  }
}

// タイトルカラー
.title--blue {
  border-left: 16px solid va.$title--blue;
  height: 100px;
}

.title--pink {
  border-left: 16px solid va.$title--pink;
}

.title--green {
  border-left: 16px solid va.$title--green;
}

// 背景 BOX
.produce .content__img::before {
  background-color: #97B5E7;
}

.consign .content__img::before {
  left: -40px;
  background-color: #E6C2CB;
}

.ses .content__img::before {
  background-color: #81D6E6;
}


@media screen and (max-width:960px) {

  /*-------------------------
  * hamburger　nav
  --------------------------*/
  .hamburger {
    display: block;
    position: fixed;
    top: 2%;
    left: 3%;
    text-align: center;
    z-index: 9999;

    &:hover {
      cursor: pointer;
    }

    &--trigger {
      width: 65px;
      height: 60px;
      position: relative;

      span {
        display: inline-block;
        transition: all .2s;
        box-sizing: border-box;
        position: absolute;
        right: 13px;
        margin: 0 auto;
        width: 39px;
        height: 1.5px;
        background-color: #19A2DB;
        border-radius: 0;

        &:nth-of-type(1) {
          top: 18px;
        }

        &:nth-of-type(2) {
          top: 29px;
        }

        &:nth-of-type(3) {
          top: 40px;
        }
      }
    }
  }

  /*--------------------------
  * hamburger js
  --------------------------*/
  .drawer--active .tb-gnavi {
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 2s cubic-bezier(.19, 1, .22, 1);
    -webkit-transition: all 2s cubic-bezier(.19, 1, .22, 1);
    -moz-transition: all 2s cubic-bezier(.19, 1, .22, 1);
    z-index: 999;
  }

  .btn--active {
    .hamburger--trigger {
      span:nth-of-type(1) {
        transform: translateY(11px) rotate(45deg);
      }

      span:nth-of-type(2) {
        width: 0;
        transition-delay: .1s;
        -webkit-transition-delay: .1s;
        -moz-transition-delay: .1s;
      }

      span:nth-of-type(3) {
        transform: translateY(-11px) rotate(-45deg);
      }
    }
  }


  /*--------------------------
    * セクション
    --------------------------*/
  .sec__wrapper {
    width: 90%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

  .sub-header__logo {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  // pc非表示
  .pc-gnavi {
    display: none;
  }

  .produce,
  .consign,
  .ses {
    .content {
      display: block;

      &__text {
        padding: 0;
        width: 100%;
      }

      &__img {
        margin: 56px auto 32px; // 背景画像分（下）の余白
        padding: 0px;
        width: 100%;

        &::before {
          top: 32px;
          left: -32px;
          width: 100%;
        }
      }
    }
  }

  .consign .row .content {
    &__text {
      padding: 0;
    }

    &__img {
      padding: 0;
    }
  }
}

@media screen and (max-width:520px) {
  .hamburger {
    top: 0;
  }

  .sub-header {
    height: 64px
  }

  .sub-header__logo {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 150px;
      height: auto;
    }
  }

  .hero {
    margin-top: 64px
  }

}

@media screen and (max-width:350px) {
  .tb-gnavi__list {
    padding-top: 0px;

    li {
      margin-bottom: 8px;
    }
  }

}