@charset "UTF-8";

/*--------------------------
* 共通
--------------------------*/

@use "reset";
@use "header";
@use "base";
@use "variables" as va;
@use "fonts" as fo;
@use "footer";

// レスポンシブ
$pc: 960px;
$tb: 520px;
$sp: 350px;

@mixin pc {
  @media screen and (max-width: $pc) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: $tb) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}

// セクション共通
.produce,
.consign,
.ses,
.consul {
  .content {
    display: flex;

    @include pc() {
      display: block;
    }

    &__text {
      padding-right: 24px;
      width: 50%;

      @include pc() {
        padding: 0;
        width: 100%;
      }

      .title {
        font-size: 1.6em;
        padding: 2rem 1.5rem;
      }

      p {
        margin: 48px 0px 48px 16px;
      }
    }

    &__img {
      margin-bottom: 40px; // 背景画像分（下）の余白
      padding-left: 24px;
      width: 50%;
      height: 400px;
      z-index: 0;

      @include pc() {
        padding: 0;
        width: 80%;
        margin: 56px auto 32px; // 背景画像分（下）の余白
        padding: 0px;
      }

      @include tb() {
        width: 100%;
        height: 250px;
      }
    }
  }
}

// consignテキストと画像反対
.consign,
.consul {
  .row {
    flex-direction: row-reverse;

    .content__text {
      padding-right: 0px;
      padding-left: 24px;

      @include pc() {
        padding: 0;
      }
    }

    .content__img {
      padding-left: 0px;
      padding-right: 24px;

      @include pc() {
        padding: 0;
      }
    }
  }
}

// タイトルカラー
.produce .title {
  border-left: 16px solid va.$produce--blue;
  height: 100px;
}

.consign .title {
  border-left: 16px solid va.$consign--pink;
}

.ses .title {
  border-left: 16px solid va.$ses--green;
}

.consul .title {
  border-left: 16px solid va.$consign--pink;
}

// 背景 BOX
.produce .content__img img {
  box-shadow: 3vw 3vw 0 va.$produce--blue;
}

.consign .content__img img {
  box-shadow: -3vw 3vw 0 va.$consign--pink;
}

.ses .content__img img {
  box-shadow: 3vw 3vw 0 va.$ses--green;
}

.consul .content__img img {
  box-shadow: -3vw 3vw 0 va.$consign--pink;
}