@charset "UTF-8";

/*--------------------------
* 共通
--------------------------*/

@use "reset";
@use "header";
@use "base";
@use "variables" as va;
@use "footer";

$pc: 960px;
$tb: 520px;
$sp: 350px;

@mixin pc {
  @media screen and (max-width: $pc) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: $tb) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}

/*--------------------------------------
*	produce
--------------------------------------*/
.produce {
  padding-bottom: 16vw;
}

/*--------------------------------------
*	support
--------------------------------------*/
// 背景
.support {
  padding-bottom: 16vw;
  background-color: va.$support-bg;
}

.wave {
  position: relative;

  canvas {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -16vw;
  }

  &__produce {
    z-index: -1;
  }

  &__support {
    z-index: 1;
  }
}

.step {
  &__list {
    margin: 32px 2em 0;

    @include pc() {
      margin: 32px 0px 0px;
    }

    &--item {
      display: flex;
      background-color: va.$step-item-bg;
      padding: 8px 58px 16px;
      margin-bottom: 24px;
      width: 100%;
      border-radius: 20px;
      align-items: center;
      margin-bottom: 24px;
      box-shadow: 0 2px 5px va.$step-item-shadow;
      z-index: 2;

      @include pc() {
        padding: 58px 24px 24px;
        position: relative;
        display: block;
      }

      &:last-child {
        margin-bottom: 0px;

        .circre::after {
          content: none;
        }
      }

      .circre {
        position: relative;
        display: inline-block;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: va.$circre-bg;
        margin-right: 64px;

        @include pc() {
          width: 125px;
          height: 48px;
          margin-right: 0;
          border-radius: 26px;
        }

        &__number {
          font-size: 1.2em;
          width: 94px;
          color: va.$circre-number;
          position: absolute;
          display: inline-block;
          left: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          text-align: center;

          @include pc() {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

        &::after {
          margin-top: 8px;
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          border-left: 16px solid transparent;
          border-right: 16px solid transparent;
          border-top: 16px solid va.$circre-bg;
          left: 50%;
          top: 120%;
          -webkit-transform: translate(-50%, -120%);
          transform: translate(-50%, -120%);

          @include pc() {
            content: none;
          }
        }
      }

      @include pc() {
        div:first-child {
          position: absolute;
          top: -2%;
          left: -4%;
        }
      }
    }
  }

  &__title {
    padding-top: 8px;
    font-size: 1.3em;
    font-weight: 700;

    @include pc() {
      padding-top: 0px;
      text-align: center;
    }
  }

  &__comment {
    padding-top: 16px;
    font-size: 1em;

    @include pc() {
      padding-top: 24px
    }
  }
}






/*--------------------------------------
*	研修カード
--------------------------------------*/
.card {
  margin: 32px auto 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  @include pc() {
    display: block;
  }

  &__item {
    background: va.$card-item-bg;
    border-radius: 5px;
    box-shadow: 0 2px 5px va.$card-item-shadow;
    width: 45%;
    padding: 32px 36px;

    @include pc() {
      width: 100%;
      margin: 0 auto 40px;
    }

    @include tb() {
      padding: 32px 16px;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 7px 34px va.$card-item-shadow, 0 3px 6px va.$card-item-shadow-hove;
      transition: all .5s;
    }

    @include pc() {
      &:last-child {
        margin: 0 auto;
      }
    }
  }

  &-content {
    margin: 0 20px;

    &__title {
      color: va.$card-title;
      font-size: 1.6em;
      font-weight: 700;
      text-align: center;
      padding: 0 0 16px;
    }

    &__text {
      color: va.$card-title;
      color: va.$card-text;
      line-height: 1.5;
      font-weight: 400;
      letter-spacing: 0.15em;
      padding-bottom: 32px;
    }
  }

  &-skill {
    position: relative;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 24px;

    &__title {
      font-weight: 700;
      position: absolute;
      top: -15px;
      left: 1em;
      padding: 2px 10px;
      background-color: #fff;
    }
  }
}



/*--------------------------------------
* インタビュー
--------------------------------------*/
.interview {
  position: relative;
  width: 100%;

  @include pc() {
    display: block;
  }

  &::before {
    content: "";
    bottom: 8vw;
    position: absolute;
    border-style: solid;
    border-width: 0vw 0vw 500px 100vw;
    border-color: transparent transparent va.$interview-bg transparent;
    z-index: -1;

    @include pc() {
      border-width: 0vw 0vw 353px 100vw;
    }
  }
}

.interview-content {
  width: 50%;

  @include pc() {
    width: 80%;
    margin: 0 auto;
  }

  @include tb() {
    width: 100%;
  }

  &__title {
    font-size: 1.2em;
    padding: 16px 16px;
    text-align: center;
    background-color: va.$interview-title-bg;
    border: 1px solid va.$interview-title;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 11px;
      left: 11px;
      width: 100%;
      height: 100%;
      background-color: va.$interview-title;
      z-index: -1;
    }
  }

  &__text {
    padding-top: 42px;
  }
}

.intervie-primary {
  width: 50%;
  height: 100%;
  padding-top: 106px;
  padding-left: 64px;

  @include pc() {
    display: none;
  }
}


// swiper
.swiper {
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 32px 0 0;

  &-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }

  &-slide {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    position: relative;
    transition-property: transform;
  }
}

.swiper-btn {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include pc() {
    justify-content: center;
  }

  @include tb() {
    justify-content: space-around;
  }
}

.swiper-pagination {
  flex: 0 0 35%;
  max-width: 35%;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);

  @include tb() {
    flex: 0 0 50%;
    max-width: 50%;
  }

  &-bullet {
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    opacity: 0.7;
    margin: 0 24px 0 0;
    background-color: va.$pagination-bullet;

    @include tb() {
      margin: 0 16px 0 0;
    }

    &-active {
      opacity: 1;
      background-color: va.$pagination-active-b;
    }
  }
}

.swiper-button-next {
  flex: 0 0 20%;
  max-width: 20%;
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  margin-top: 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: va.$swiper-button;

  @include tb() {
    flex: 0 0 50%;
    max-width: 50%;
    justify-content: center;
  }

  &:after {
    content: "→";
    margin-left: 24px;
    font-size: 2rem;
  }
}


/*--------------------------------------
*	よくある質問
--------------------------------------*/
.accordion {
  margin-top: 32px;
  border-top: 1px solid va.$accordion-border;
  border-bottom: 0;
}

.accordion__tab {
  padding: 10px 20px;
  position: relative;
  border-top: 0;
  border-bottom: 1px solid va.$accordion-border;

  p {
    width: 90%;

    span {
      color: va.$accordion-tag;
      margin-right: 1em;
    }
  }
}



/* 非表示の状態にする */
.accordion__content {
  display: none;
  padding: 10px 20px;
  border-bottom: 1px solid va.$accordion-border;
  opacity: 1;
  animation: Fade-In 1.5s;
  -webkit-animation: Fade-In 1.5s;
  -moz-animation: Fade-In 1.5s;
  -ms-animation: Fade-In 1.5s;

  @keyframes Fade-In {
    0% {
      opacity: 0.2;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes Fade-In {
    0% {
      opacity: 0.2
    }

    100% {
      opacity: 1
    }
  }

  @-moz-keyframes Fade-In {
    0% {
      opacity: 0.2
    }

    100% {
      opacity: 1
    }
  }

  @-ms-keyframes Fade-In {
    0% {
      opacity: 0.2
    }

    100% {
      opacity: 1
    }
  }

  &.active {
    display: block;
  }

  p {
    width: 90%;

    span {
      color: va.$accordion-tag;
      margin-right: 1em;
    }
  }
}


.accordion__icon {
  position: absolute;
  top: 50%;
  right: 2%;
  cursor: pointer;
  width: 35px;
  height: 24px;
  transform: translateY(-50%);

  span {
    position: absolute;
    top: 50%;
    left: 6px;
    width: 50%;
    height: 1px;
    background-color: va.$accordion__icon;
    border-radius: 4px;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;

    &:nth-of-type(1) {
      transform: rotate(0deg);
    }

    &:nth-of-type(2) {
      transform: rotate(90deg);
    }
  }

  // ＋、×切り替え
  &.active span:nth-of-type(1) {
    transform: rotate(45deg);
  }

  &.active span:nth-of-type(2) {
    transform: rotate(135deg);
  }
}