@charset "UTF-8";

/*--------------------------
* 共通
--------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif JP', serif;
  font-size: 1em;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-weight: 400;
  letter-spacing: .15em
}

// navi hover時
.pc-gnavi__list a,
.tb-gnavi__list a,
.breadcrumb a {
  position: relative;
}

.pc-gnavi__list a:before,
.tb-gnavi__list a:before,
.breadcrumb a:before {
  background-color: #3c3632;
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  transition: all .3s cubic-bezier(.19, 1, .22, 1);
  transition-timing-function: cubic-bezier(.19, 1, .22, 1);
}

.breadcrumb a:before {
  background-color: #fff;
}

.pc-gnavi__list a:hover:before,
.tb-gnavi__list a:hover:before,
.breadcrumb a:hover:before {
  width: 100%;
}

/*--------------------------
* header
--------------------------*/
.sub-header {
  position: fixed;
  height: 100px;
  background: lightcyan;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto;

  &__logo {
    position: absolute;
    left: 5%;
    top: 0px;

    img {
      width: 300px;
      height: 100px;
    }
  }
}

// サブページ用gnavi
//pc用
.pc-gnavi {
  height: auto;
  background: none;
  position: absolute;
  width: auto;
  z-index: 1;
  right: 5%;
  left: auto;
  top: 42px;

  &__content {
    position: relative;
    top: unset;
    left: unset;
    transform: none;
    width: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__list {
    display: flex;
    padding: 0;

    li {
      font-size: 1em;
      margin: 0 1em;
    }
  }
}

// tb用
.tb-gnavi {
  height: 100%;
  background: rgba(255, 255, 255, 1);
  position: fixed;
  left: -100vw;
  width: 100%;
  visibility: visible;
  opacity: 0;
  transition: all 1s cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: all 1s cubic-bezier(.19, 1, .22, 1);
  -moz-transition: all 1s cubic-bezier(.19, 1, .22, 1);

  &__wrapper {
    max-width: 760px;
    position: absolute;
    width: 100%;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -5%);
    -webkit-transform: translate(-50%, -5%);
    -moz-transform: translate(-50%, -5%);
    -ms-transform: translate(-50%, -5%);
  }

  &__logo {
    margin: 0 auto;
    width: 60%;
  }

  &__list {
    width: 60%;
    margin: 0 auto;
    padding-top: 34px;

    li {
      margin-bottom: 24px;

      .en {
        display: block;

        a {
          font-size: 1.58em;
          font-weight: 400;
          letter-spacing: .15em;
        }
      }

      .ja {
        display: block;

        a {
          font-size: 0.8em;
          font-weight: 400;
          letter-spacing: .15em;
        }
      }
    }
  }

  &__copy {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
}

// コピーライト
.copyright {
  width: 100%;
  font-size: .5em;
  text-align: center;
  opacity: .6;
}

//ハンバーガーメニュー
.hamburger {
  display: none;
}

/*--------------------------
* main
--------------------------*/
.main {
  z-index: 1;
}

.hero {
  // header部分
  margin-top: 100px;

  &__bg {
    position: relative;
    height: 200px;
    background-image: url(../img/hero/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;

    &:after {
      // スモーク
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  &__content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 200px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;

    p {
      margin-top: 40px;
      color: #fff;
    }

    h1 {
      margin-top: 8px;
      color: #fff;
      font-size: 3.5em;
    }

    // パンクズリスト
    .breadcrumb {
      margin-top: 8px;

      li {
        display: inline;
        list-style: none;
        font-weight: bold;

        &:after {
          content: '>';
          padding: 0 0.2em;
          color: #fff;
        }

        &:last-child:after {
          content: '';
        }

        a {
          margin: 0 16px;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

/*--------------------------
* 共通
--------------------------*/
.sec {
  padding: 8vw 0;
  margin: 0 auto;
}

.sec__wrapper {
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.sec__title {
  text-align: center;
  font-size: 2em;
}

.sec__text {
  max-width: 650px;
  padding: 32px 0 0;
  margin: 0 auto;
}


// セクション共通
.produce,
.consign,
.ses {
  .content {
    display: flex;

    &__text {
      padding-right: 24px;
      width: 50%;

      .title {
        font-size: 1.6em;
        padding: 2rem 1.5rem;
      }

      p {
        margin: 48px 0px 48px 16px;
      }

      .btn {
        // ボタンスタイル
        text-align: center;

        a {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.5;
          position: relative;
          display: inline-block;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          text-align: center;
          vertical-align: middle;
          text-decoration: none;
          letter-spacing: 0.1em;
          border-radius: 0.5rem;
        }

        .btn-c {
          font-size: 1rem;
          position: relative;
          padding: 1.5rem 5rem;
          border-radius: 100vh;

          &:after {
            font-family: "Font Awesome 5 Free";
            font-weight: 700;
            font-size: 1rem;
            line-height: 1;
            position: absolute;
            top: 50%;
            right: 50px;
            content: '\f054';
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
          }

          &:hover:after {
            right: 35px;
          }
        }
      }
    }

    &__img {
      padding-left: 24px;
      width: 50%;
      height: 400px;
      z-index: 0;
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: -1;
      }
    }
  }
}

// consignテキストと画像反対
.consign {
  .row {
    flex-direction: row-reverse;

    .content__text {
      padding-right: 0px;
      padding-left: 24px;
    }

    .content__img {
      padding-left: 0px;
      padding-right: 24px;
    }
  }
}

// タイトルカラー
.title--blue {
  border-left: 16px solid #97B5E7;
  height: 100px;
}

.title--pink {
  border-left: 16px solid #E6C2CB;
}

.title--green {
  border-left: 16px solid #81D6E6;
}

//ボタンカラー
.btn--blue {
  color: #000;
  background-color: #CBDAF3;

  &:hover {
    color: #fff;
    background: #97B5E7;
  }
}

.btn--pink {
  color: #000;
  background-color: #F2E0E5;

  &:hover {
    color: #fff;
    background: #E6C2CB;
  }
}

.btn--green {
  color: #000;
  background-color: #C0EAF2;

  &:hover {
    color: #fff;
    background: #81D6E6;
  }
}

// 背景 BOX
.produce .content__img::before {
  background-color: #97B5E7;
}

.consign .content__img::before {
  left: -40px;
  background-color: #E6C2CB;
}

.ses .content__img::before {
  background-color: #81D6E6;
}


@media screen and (max-width:960px) {

  /*-------------------------
  * hamburger　nav
  --------------------------*/
  .hamburger {
    display: block;
    position: fixed;
    top: 2%;
    left: 3%;
    text-align: center;
    z-index: 9999;

    &:hover {
      cursor: pointer;
    }

    &--trigger {
      width: 65px;
      height: 60px;
      position: relative;

      span {
        display: inline-block;
        transition: all .2s;
        box-sizing: border-box;
        position: absolute;
        right: 13px;
        margin: 0 auto;
        width: 39px;
        height: 1.5px;
        background-color: #19A2DB;
        border-radius: 0;

        &:nth-of-type(1) {
          top: 18px;
        }

        &:nth-of-type(2) {
          top: 29px;
        }

        &:nth-of-type(3) {
          top: 40px;
        }
      }
    }
  }

  /*--------------------------
  * hamburger js
  --------------------------*/
  .drawer--active .tb-gnavi {
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 2s cubic-bezier(.19, 1, .22, 1);
    -webkit-transition: all 2s cubic-bezier(.19, 1, .22, 1);
    -moz-transition: all 2s cubic-bezier(.19, 1, .22, 1);
    z-index: 999;
  }

  .btn--active {
    .hamburger--trigger {
      span:nth-of-type(1) {
        transform: translateY(11px) rotate(45deg);
      }

      span:nth-of-type(2) {
        width: 0;
        transition-delay: .1s;
        -webkit-transition-delay: .1s;
        -moz-transition-delay: .1s;
      }

      span:nth-of-type(3) {
        transform: translateY(-11px) rotate(-45deg);
      }
    }
  }


  /*--------------------------
    * セクション
    --------------------------*/
  .sec__wrapper {
    width: 90%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

  .sub-header__logo {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  // pc非表示
  .pc-gnavi {
    display: none;
  }

  .produce,
  .consign,
  .ses {
    .content {
      display: block;

      &__text {
        padding: 0;
        width: 100%;
      }

      &__img {
        margin: 56px auto 0px;
        padding: 0px;
        width: 100%;

        &::before {
          top: 32px;
          left: -32px;
          width: 100%;
        }
      }
    }
  }

  .consign .row .content {
    &__text {
      padding: 0;
    }

    &__img {
      padding: 0;
    }
  }
}

@media screen and (max-width:520px) {
  .hamburger {
    top: 0;
  }

  .sub-header {
    height: 64px
  }

  .sub-header__logo {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 150px;
      height: auto;
    }
  }

  .hero {
    margin-top: 64px
  }

}

@media screen and (max-width:350px) {
  .tb-gnavi__list {
    padding-top: 0px;

    li {
      margin-bottom: 8px;
    }
  }

}