@charset "UTF-8";
/*--------------------------
* 共通
--------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", serif;
  font-size: 1em;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.pc-gnavi__list a,
.tb-gnavi__list a,
.breadcrumb a {
  position: relative;
}

.pc-gnavi__list a:before,
.tb-gnavi__list a:before,
.breadcrumb a:before {
  background-color: #3c3632;
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.breadcrumb a:before {
  background-color: #fff;
}

.pc-gnavi__list a:hover:before,
.tb-gnavi__list a:hover:before,
.breadcrumb a:hover:before {
  width: 100%;
}

.pc-gnavi {
  height: auto;
  background: none;
  position: absolute;
  width: auto;
  z-index: 1;
  right: 5%;
  left: auto;
  top: 42px;
}
.pc-gnavi__content {
  position: relative;
  top: unset;
  left: unset;
  transform: none;
  width: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.pc-gnavi__list {
  display: flex;
  padding: 0;
}
.pc-gnavi__list li {
  font-size: 1em;
  margin: 0 1em;
}

.tb-gnavi {
  height: 100%;
  background: rgb(255, 255, 255);
  position: fixed;
  left: -100vw;
  width: 100%;
  visibility: visible;
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.tb-gnavi__wrapper {
  max-width: 760px;
  position: absolute;
  width: 100%;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -5%);
  -webkit-transform: translate(-50%, -5%);
  -moz-transform: translate(-50%, -5%);
  -ms-transform: translate(-50%, -5%);
}
.tb-gnavi__logo {
  margin: 0 auto;
  width: 60%;
}
.tb-gnavi__list {
  width: 60%;
  margin: 0 auto;
  padding-top: 34px;
}
.tb-gnavi__list li {
  margin-bottom: 24px;
}
.tb-gnavi__list li .en {
  display: block;
}
.tb-gnavi__list li .en a {
  font-size: 1.58em;
  font-weight: 400;
  letter-spacing: 0.15em;
}
.tb-gnavi__list li .ja {
  display: block;
}
.tb-gnavi__list li .ja a {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.15em;
}
.tb-gnavi__copy {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.copyright {
  width: 100%;
  font-size: 0.5em;
  text-align: center;
  opacity: 0.6;
}

.hamburger {
  display: none;
}

/*--------------------------
* header
--------------------------*/
.sub-header {
  position: fixed;
  height: 100px;
  background: lightcyan;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto;
}
.sub-header__logo {
  position: absolute;
  left: 5%;
  top: 0px;
}
.sub-header__logo img {
  width: 300px;
  height: 100px;
}

.sub-gnavi {
  height: auto;
  background: none;
  position: absolute;
  width: auto;
  z-index: 1;
  right: 5%;
  left: auto;
  top: 42px;
}
.sub-gnavi__inner {
  position: relative;
  top: unset;
  left: unset;
  transform: none;
  width: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.sub-gnavi__list {
  display: flex;
  padding: 0;
}
.sub-gnavi__list li {
  font-size: 1em;
  margin: 0 1em;
}

/*--------------------------
* main
--------------------------*/
.main {
  z-index: 0;
}

.hero {
  margin-top: 100px;
}
.hero__bg {
  position: relative;
  height: 200px;
  background-image: url(../img/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.hero__bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.hero__content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 200px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1;
}
.hero__content p {
  margin-top: 40px;
  color: #fff;
}
.hero__content h1 {
  margin-top: 8px;
  color: #fff;
  font-size: 3.5em;
}
.hero__content .breadcrumb {
  margin-top: 8px;
}
.hero__content .breadcrumb li {
  display: inline;
  list-style: none;
  font-weight: bold;
}
.hero__content .breadcrumb li:after {
  content: ">";
  padding: 0 0.2em;
  color: #fff;
}
.hero__content .breadcrumb li:last-child:after {
  content: "";
}
.hero__content .breadcrumb li a {
  margin: 0 16px;
  color: #fff;
  text-decoration: none;
}

/*--------------------------
* 共通
--------------------------*/
.sec {
  padding: 8vw 0;
  margin: 0 auto;
}
.sec__wrapper {
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.sec__title {
  text-align: center;
  font-size: 2em;
}
.sec__text {
  max-width: 650px;
  padding: 32px 0 0;
  margin: 0 auto;
}

/*--------------------------------------
*	support
--------------------------------------*/
.support {
  padding: 8vw 0 16vw 0;
  background-color: #E0E9F8;
}

.wave {
  position: relative;
}

.wave canvas {
  position: absolute;
  left: 0;
  width: 100%;
}

.wavecanvas--top {
  top: -15vw;
}

.wavecanvas--bottom {
  bottom: -16vw;
}

.step__list {
  margin: 32px 2em 0;
}
.step__list--item {
  display: flex;
  background-color: #fff;
  padding: 8px 58px 16px;
  margin-bottom: 24px;
  width: 100%;
  border-radius: 20px;
  align-items: center;
  margin-bottom: 24px;
}
.step__list--item:last-child {
  margin-bottom: 0px;
}
.step__list--item:last-child .circre::after {
  content: none;
}
.step__list--item .circre {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #1F2937;
  margin-right: 64px;
}
.step__list--item .circre__number {
  font-size: 1.2em;
  width: 94px;
  color: #fff;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.step__list--item .circre::after {
  margin-top: 8px;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid black;
  left: 50%;
  top: 120%;
  transform: translate(-50%, -120%);
}
.step__title {
  padding-top: 8px;
  font-size: 1.3em;
  font-weight: 700;
}
.step__comment {
  padding-top: 16px;
  font-size: 1em;
}

/*--------------------------------------
*	研修カード
--------------------------------------*/
.card {
  margin: 32px auto 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.card__item {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  width: 45%;
  padding: 32px 36px;
}
.card__item:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.5s;
}
.card-content {
  margin: 0 20px;
}
.card-content__title {
  font-size: 1.6em;
  color: #333;
  font-weight: 700;
  text-align: center;
  padding: 0 0 16px;
}
.card-content__text {
  color: #777;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.15em;
  padding-bottom: 32px;
}
.card-skill {
  position: relative;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 24px;
}
.card-skill__title {
  font-weight: 700;
  position: absolute;
  top: -15px;
  left: 1em;
  padding: 2px 10px;
  background-color: #fff;
}

/*--------------------------------------
* インタビュー
--------------------------------------*/
.interview {
  position: relative;
  width: 100%;
}
.interview::before {
  content: "";
  bottom: 8vw;
  position: absolute;
  border-style: solid;
  border-width: 0vw 0vw 500px 100vw;
  border-color: transparent transparent #81D6E6 transparent;
  z-index: -1;
}

.interview-content {
  width: 50%;
}
.interview-content__title {
  font-size: 1.2em;
  padding: 16px 16px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #81D6E6;
  position: relative;
}
.interview-content__title::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 11px;
  width: 100%;
  height: 100%;
  background-color: #81D6E6;
  z-index: -1;
}
.interview-content__text {
  padding-top: 42px;
}

.intervie-primary {
  width: 50%;
  height: 100%;
  padding-top: 106px;
  padding-left: 64px;
}

.swiper {
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 32px 0 0;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-slide {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  position: relative;
  transition-property: transform;
}

.swiper-btn {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.swiper-pagination {
  flex: 0 0 35%;
  max-width: 35%;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
}
.swiper-pagination-bullet {
  cursor: pointer;
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 50%;
  opacity: 0.7;
  margin: 0 24px 0 0;
  background-color: #E0E9F8;
  border: 2px solid #E0E9F8;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #202A39;
  border: 2px solid #202A39;
}

.swiper-button-next {
  flex: 0 0 20%;
  max-width: 20%;
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  margin-top: 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #202A39;
}
.swiper-button-next:after {
  content: "→";
  margin-left: 24px;
  font-size: 2rem;
}

/*--------------------------------------
*	よくある質問
--------------------------------------*/
.accordion {
  margin-top: 32px;
  border-top: 1px solid #E0E9F8;
  border-bottom: 0;
}

.accordion__tab {
  padding: 10px 20px;
  position: relative;
  border-top: 0;
  border-bottom: 1px solid #E0E9F8;
}
.accordion__tab p {
  width: 90%;
}
.accordion__tab p span {
  color: #437EF6;
  margin-right: 1em;
}

/* 非表示の状態にする */
.accordion__content {
  display: none;
  padding: 10px 20px;
  border-bottom: 1px solid #E0E9F8;
  opacity: 1;
  animation: Fade-In 1.5s;
  -webkit-animation: Fade-In 1.5s;
  -moz-animation: Fade-In 1.5s;
  -ms-animation: Fade-In 1.5s;
}
@keyframes Fade-In {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes Fade-In {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.accordion__content.active {
  display: block;
}
.accordion__content p {
  width: 90%;
}
.accordion__content p span {
  color: #437EF6;
  margin-right: 1em;
}

.accordion__icon {
  position: absolute;
  top: 50%;
  right: 2%;
  cursor: pointer;
  width: 35px;
  height: 24px;
  transform: translateY(-50%);
}
.accordion__icon span {
  position: absolute;
  top: 50%;
  left: 6px;
  width: 50%;
  height: 1px;
  background-color: #202A39;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
}
.accordion__icon span:nth-of-type(1) {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}
.accordion__icon span:nth-of-type(2) {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
.accordion__icon.active span:nth-of-type(1) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.accordion__icon.active span:nth-of-type(2) {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}

@media screen and (max-width: 960px) {
  /*-------------------------
   * hamburger　nav
   --------------------------*/
  .hamburger {
    display: block;
    position: fixed;
    top: 2%;
    left: 3%;
    text-align: center;
    z-index: 9999;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .hamburger--trigger {
    width: 65px;
    height: 60px;
    position: relative;
  }
  .hamburger--trigger span {
    display: inline-block;
    transition: all 0.2s;
    box-sizing: border-box;
    position: absolute;
    right: 13px;
    margin: 0 auto;
    width: 39px;
    height: 1.5px;
    background-color: #19A2DB;
    border-radius: 0;
  }
  .hamburger--trigger span:nth-of-type(1) {
    top: 18px;
  }
  .hamburger--trigger span:nth-of-type(2) {
    top: 29px;
  }
  .hamburger--trigger span:nth-of-type(3) {
    top: 40px;
  }

  /*--------------------------
   * hamburger js
   --------------------------*/
  .drawer--active .tb-gnavi {
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 999;
  }

  .btn--active .hamburger--trigger span:nth-of-type(1) {
    transform: translateY(11px) rotate(45deg);
  }
  .btn--active .hamburger--trigger span:nth-of-type(2) {
    width: 0;
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
  }
  .btn--active .hamburger--trigger span:nth-of-type(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

  /*--------------------------
     * セクション
     --------------------------*/
  .sec__wrapper {
    width: 90%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

  .sub-header__logo {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  .pc-gnavi {
    display: none;
  }

  .step__list {
    margin: 32px 0px 0px;
  }
  .step__list--item {
    padding: 58px 24px 24px;
    position: relative;
    display: block;
  }
  .step__list--item .circre {
    width: 125px;
    height: 40px;
    margin-right: 0;
    border-radius: 26px;
  }
  .step__list--item .circre::after {
    content: none;
  }
  .step__list--item .circre__number {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .step__list--item div:first-child {
    position: absolute;
    top: -2%;
    left: -4%;
  }

  .step__title {
    padding-top: 0px;
    text-align: center;
  }

  .step__comment {
    padding-top: 24px;
  }

  .card {
    display: block;
  }
  .card__item {
    width: 100%;
    margin: 0 auto 40px;
  }
  .card__item:last-child {
    margin: 0 auto;
  }

  .swiper-slide {
    display: block;
  }

  .interview::before {
    border-width: 0vw 0vw 353px 100vw;
  }

  .interview-content {
    width: 80%;
    margin: 0 auto;
  }

  .intervie-primary {
    display: none;
  }

  .swiper-btn {
    justify-content: center;
  }
}
@media screen and (max-width: 520px) {
  .hamburger {
    top: 0;
  }

  .sub-header {
    height: 64px;
  }

  .sub-header__logo {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .sub-header__logo img {
    width: 150px;
    height: auto;
  }

  .hero {
    margin-top: 64px;
  }

  .interview-content {
    width: 100%;
  }

  .card__item {
    padding: 32px 16px;
  }

  .swiper-btn {
    justify-content: space-around;
  }

  .swiper-button-next {
    flex: 0 0 50%;
    max-width: 50%;
    justify-content: center;
  }

  .swiper-pagination {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .swiper-pagination-bullet {
    margin: 0 16px 0 0;
  }
}
@media screen and (max-width: 350px) {
  .tb-gnavi__list {
    padding-top: 0px;
  }
  .tb-gnavi__list li {
    margin-bottom: 8px;
  }
}/*# sourceMappingURL=style.css.map */