@charset "UTF-8";
/*--------------------------
* 共通
--------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", serif;
  font-size: 1em;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.inner {
  max-width: 960px;
  padding: min(8vw, 80px) 0;
  margin: 0 auto;
}

.sub-gnavi__list a,
.breadcrumb a {
  position: relative;
}

.sub-gnavi__list a:before,
.breadcrumb a:before {
  background-color: #3c3632;
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.breadcrumb a:before {
  background-color: #fff;
}

.sub-gnavi__list a:hover:before,
.breadcrumb a:hover:before {
  width: 100%;
}

.right,
.left {
  width: 50%;
}
@media screen and (max-width: 520px) {
  .right,
.left {
    width: 100%;
  }
}

/*--------------------------
* header
--------------------------*/
.sub-header {
  position: fixed;
  height: 100px;
  background: lightcyan;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto;
}
.sub-header__logo {
  position: absolute;
  left: 5%;
  top: 0px;
}
.sub-header__logo img {
  width: 300px;
  height: 100px;
}

.sub-gnavi {
  height: auto;
  background: none;
  position: absolute;
  width: auto;
  z-index: 1;
  right: 5%;
  left: auto;
  top: 42px;
}
.sub-gnavi__inner {
  position: relative;
  top: unset;
  left: unset;
  transform: none;
  width: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.sub-gnavi__list {
  display: flex;
  padding: 0;
}
.sub-gnavi__list li {
  font-size: 1em;
  margin: 0 1em;
}

/*--------------------------
* main
--------------------------*/
.hero {
  margin-top: 100px;
}
.hero__bg {
  position: relative;
  height: 200px;
  background-image: url(../img/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.hero__bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.hero__content {
  height: 200px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1;
}
.hero__content p {
  margin-top: 40px;
  color: #fff;
}
.hero__content h1 {
  margin-top: 8px;
  color: #fff;
  font-size: 3.5em;
}
.hero__content .breadcrumb {
  margin-top: 8px;
}
.hero__content .breadcrumb li {
  display: inline;
  list-style: none;
  font-weight: bold;
}
.hero__content .breadcrumb li:after {
  content: ">";
  padding: 0 0.2em;
  color: #fff;
}
.hero__content .breadcrumb li:last-child:after {
  content: "";
}
.hero__content .breadcrumb li a {
  margin: 0 16px;
  color: #fff;
  text-decoration: none;
}

/*--------------------------
* flow
--------------------------*/
.flow {
  background-color: #fff;
}
@media screen and (max-width: 520px) {
  .flow .inner {
    padding: 12vw 64px;
  }
}
.flow .inner h2 {
  text-align: center;
  font-size: 2em;
}
@media screen and (max-width: 520px) {
  .flow .inner h2 {
    font-size: 1.5rem;
  }
}
.flow .inner .arrow-diagram {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
@media screen and (max-width: 520px) {
  .flow .inner .arrow-diagram {
    flex-flow: column;
    gap: 60px;
  }
}
.flow .inner .arrow-diagram .square {
  width: 20%;
  height: 130px;
  line-height: 140px;
  background-color: #F7DAE1;
  position: relative;
}
@media screen and (max-width: 520px) {
  .flow .inner .arrow-diagram .square {
    width: 100%;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
  }
}
.flow .inner .arrow-diagram .square::before {
  content: "";
  display: inline-block;
  border-style: solid;
  border-width: 20px 0 20px 16px;
  border-color: transparent transparent transparent #ED5A87;
  position: absolute;
  right: -20%;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 520px) {
  .flow .inner .arrow-diagram .square::before {
    top: 135%;
    right: 50%;
    transform: translate(50%, 0);
    border-width: 16px 20px 0 20px;
    border-color: #ed5a86 transparent transparent transparent;
  }
}
.flow .inner .arrow-diagram .square:last-child {
  background-color: #ED5A87;
}
.flow .inner .arrow-diagram .square:last-child::before {
  display: none;
}
.flow .inner p {
  margin-top: 20px;
}
.flow .inner .more {
  margin: 60px auto 20px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.flow .inner .more .more-btn {
  background-color: rgba(237, 90, 135, 0.2);
  text-align: center;
  border-radius: 9999px;
  padding: 20px 100px;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}
.flow .inner .more .more-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: 40px;
  width: 10px;
  height: 10px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
  transition: all 0.5s ease;
}
.flow .inner .more .more-btn:hover {
  background-color: rgb(237, 90, 135);
}
.flow .inner .more .more-btn:hover::before {
  right: 35px;
}

/*--------------------------
* employed
--------------------------*/
.employed {
  background-color: #E0E9F8;
}
@media screen and (max-width: 520px) {
  .employed .inner {
    padding: 12vw 32px;
  }
}
.employed .inner h2 {
  text-align: center;
  font-size: 2em;
}
@media screen and (max-width: 520px) {
  .employed .inner h2 {
    font-size: 1.5rem;
  }
}
.employed .inner p {
  max-width: 650px;
  padding: 32px 0 0;
  margin: 0 auto;
}

/*--------------------------
* license
--------------------------*/
@media screen and (max-width: 520px) {
  .license .inner {
    padding: 12vw 32px;
  }
}
.license .inner h2 {
  text-align: center;
  font-size: 2em;
}
@media screen and (max-width: 520px) {
  .license .inner h2 {
    font-size: 1.5rem;
  }
}
.license .inner ul {
  width: 90%;
  padding: 50px 70px;
  margin: 40px auto 0;
  line-height: 40px;
  position: relative;
}
.license .inner ul::before {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 100%;
  height: 100%;
  border: 2px solid #97B5E7;
  content: "";
}
@media screen and (max-width: 520px) {
  .license .inner ul::before {
    top: -10px;
    left: -10px;
  }
}
.license .inner ul::after {
  position: absolute;
  top: 20px;
  left: -20px;
  width: 100%;
  height: 100%;
  border: 2px solid #97B5E7;
  content: "";
}
@media screen and (max-width: 520px) {
  .license .inner ul::after {
    top: 10px;
    left: 10px;
  }
}
.license .inner ul li {
  list-style-type: square;
}

/*--------------------------
* recruitment
--------------------------*/
.recruitment {
  background-color: #fff;
}
.recruitment .inner {
  padding-top: 4vw;
  padding-bottom: max(8vw, 120px);
}
@media screen and (max-width: 520px) {
  .recruitment .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.recruitment .inner .title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 30px;
}
@media screen and (max-width: 520px) {
  .recruitment .inner .title {
    font-size: 1.5rem;
  }
}
.recruitment .inner table {
  background-color: #fff;
  width: 100%;
  border-radius: 30px;
  border-spacing: 0;
  line-height: 34px;
}
.recruitment .inner table tr:first-child td br:nth-of-type(2n-1) {
  display: none;
}
@media screen and (max-width: 520px) {
  .recruitment .inner table tr:first-child td br:nth-of-type(2n-1) {
    display: inline;
  }
}
.recruitment .inner table tr th {
  border-bottom: solid 1px #97B5E7;
  padding: 30px;
  width: 35%;
  font-size: 18px;
  font-weight: bold;
  background-color: #E0E9F8;
}
@media screen and (max-width: 520px) {
  .recruitment .inner table tr th {
    width: 25%;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
  }
}
.recruitment .inner table tr td {
  border-bottom: solid 1px #97B5E7;
  width: 65%;
  padding: 30px;
}
@media screen and (max-width: 520px) {
  .recruitment .inner table tr td {
    width: 75%;
  }
}
.recruitment .inner table tr:first-of-type th {
  border-top: solid 1px #97B5E7;
}
.recruitment .inner table tr:first-of-type td {
  border-top: solid 1px #97B5E7;
}
.recruitment .inner span {
  margin-top: 20px;
  display: inline-block;
  line-height: 35px;
}
@media screen and (max-width: 520px) {
  .recruitment .inner span {
    font-size: 0.9rem;
    line-height: 30px;
  }
}

/*
--------------------------------------
global-contact
--------------------------------------
*/
.global-contact {
  height: 264px;
  background-color: #202A39;
}
.global-contact .inner {
  background-color: #202A39;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}
@media screen and (max-width: 520px) {
  .global-contact .inner {
    flex-flow: column;
  }
}
.global-contact .inner .left {
  text-align: center;
}
.global-contact .inner .left h1 {
  font-size: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 520px) {
  .global-contact .inner .left h1 {
    font-size: 34px;
    margin: 20px auto;
  }
}
.global-contact .inner .right .more {
  margin: 0 auto 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 520px) {
  .global-contact .inner .right .more {
    margin: 60px auto;
  }
}
.global-contact .inner .right .more .more-btn {
  background-color: rgba(151, 181, 231, 0.8);
  text-align: center;
  border-radius: 9999px;
  padding: 20px 80px;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}
.global-contact .inner .right .more .more-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: 40px;
  width: 10px;
  height: 10px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
  transition: all 0.5s ease;
}
.global-contact .inner .right .more .more-btn:hover {
  background-color: rgb(151, 181, 231);
}
.global-contact .inner .right .more .more-btn:hover::before {
  right: 35px;
}

/*
--------------------------------------
footer
--------------------------------------
*/
footer {
  background-color: #E5E5E5;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}
footer .totop {
  height: 80px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
  border-bottom: solid 1px #202A39;
}
footer .totop::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: calc(50% - 5px);
  width: 15px;
  height: 15px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
footer .totop:hover {
  background-color: rgb(241, 241, 241);
}
footer .totop:hover::before {
  top: calc(50% - 10px);
}
footer .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 1080px;
  width: 100%;
  padding: 0;
  background-color: #E5E5E5;
}
@media screen and (max-width: 520px) {
  footer .inner {
    flex-flow: column;
    align-items: flex-start;
    padding: 0 16px;
  }
}
footer .inner .left {
  padding: 0 64px;
}
@media screen and (max-width: 520px) {
  footer .inner .left {
    padding: 0 5%;
  }
}
footer .inner .left .footer-logo {
  margin-top: 30px;
}
@media screen and (max-width: 520px) {
  footer .inner .left .footer-logo {
    transform: scale(0.8);
    margin-left: -50px;
  }
}
footer .inner .left .address {
  font-style: normal;
  margin-top: 15px;
  line-height: 30px;
}
@media screen and (max-width: 520px) {
  footer .inner .left .address {
    margin-top: 0;
  }
}
@media screen and (max-width: 520px) {
  footer .inner .right {
    padding: 0 5%;
  }
}
footer .inner .right nav {
  display: flex;
  justify-content: end;
  margin-right: 8%;
}
@media screen and (max-width: 520px) {
  footer .inner .right nav {
    flex-flow: column;
  }
}
footer .inner .right nav .menu-list {
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding-right: 8%;
  border-right: solid 1px #000;
}
footer .inner .right nav .menu-list li:last-child {
  display: none;
}
@media screen and (max-width: 520px) {
  footer .inner .right nav .menu-list li:last-child {
    display: block;
  }
}
@media screen and (max-width: 520px) {
  footer .inner .right nav .menu-list {
    border: none;
    margin-top: 30px;
  }
}
footer .inner .right nav .menu-list .service-list-sp {
  display: flex;
  flex-flow: column;
  gap: 15px;
  display: none;
}
@media screen and (max-width: 520px) {
  footer .inner .right nav .menu-list .service-list-sp {
    display: block;
  }
}
footer .inner .right nav .menu-list .service-list-sp li {
  list-style: disc;
  margin-left: 20px;
}
footer .inner .right nav .service-list {
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding-left: 30px;
}
@media screen and (max-width: 520px) {
  footer .inner .right nav .service-list {
    display: none;
  }
}
footer .inner .right nav .service-list li {
  list-style: disc;
  margin-left: 20px;
}
footer .copyright {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 50px 0 20px;
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */