@charset "UTF-8";
/*--------------------------
* 共通
--------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", serif;
  font-size: 1em;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.pc-gnavi__list a,
.tb-gnavi__list a,
.breadcrumb a {
  position: relative;
}

.pc-gnavi__list a:before,
.tb-gnavi__list a:before,
.breadcrumb a:before {
  background-color: #3c3632;
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.breadcrumb a:before {
  background-color: #fff;
}

.pc-gnavi__list a:hover:before,
.tb-gnavi__list a:hover:before,
.breadcrumb a:hover:before {
  width: 100%;
}

.pc-gnavi {
  height: auto;
  background: none;
  position: absolute;
  width: auto;
  z-index: 1;
  right: 5%;
  left: auto;
  top: 42px;
}
.pc-gnavi__content {
  position: relative;
  top: unset;
  left: unset;
  transform: none;
  width: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.pc-gnavi__list {
  display: flex;
  padding: 0;
}
.pc-gnavi__list li {
  font-size: 1em;
  margin: 0 1em;
}

.tb-gnavi {
  height: 100%;
  background: rgb(255, 255, 255);
  position: fixed;
  left: -100vw;
  width: 100%;
  visibility: visible;
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.tb-gnavi__wrapper {
  max-width: 760px;
  position: absolute;
  width: 100%;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -5%);
  -webkit-transform: translate(-50%, -5%);
  -moz-transform: translate(-50%, -5%);
  -ms-transform: translate(-50%, -5%);
}
.tb-gnavi__logo {
  margin: 0 auto;
  width: 60%;
}
.tb-gnavi__list {
  width: 60%;
  margin: 0 auto;
  padding-top: 34px;
}
.tb-gnavi__list li {
  margin-bottom: 24px;
}
.tb-gnavi__list li .en {
  display: block;
}
.tb-gnavi__list li .en a {
  font-size: 1.58em;
  font-weight: 400;
  letter-spacing: 0.15em;
}
.tb-gnavi__list li .ja {
  display: block;
}
.tb-gnavi__list li .ja a {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.15em;
}
.tb-gnavi__copy {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.copyright {
  width: 100%;
  font-size: 0.5em;
  text-align: center;
  opacity: 0.6;
}

.hamburger {
  display: none;
}

/*--------------------------
* header
--------------------------*/
.sub-header {
  position: fixed;
  height: 100px;
  background: lightcyan;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto;
}
.sub-header__logo {
  position: absolute;
  left: 5%;
  top: 0px;
}
.sub-header__logo img {
  width: 300px;
  height: 100px;
}

.sub-gnavi {
  height: auto;
  background: none;
  position: absolute;
  width: auto;
  z-index: 1;
  right: 5%;
  left: auto;
  top: 42px;
}
.sub-gnavi__inner {
  position: relative;
  top: unset;
  left: unset;
  transform: none;
  width: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.sub-gnavi__list {
  display: flex;
  padding: 0;
}
.sub-gnavi__list li {
  font-size: 1em;
  margin: 0 1em;
}

/*--------------------------
* main
--------------------------*/
.main {
  z-index: 0;
}

.hero {
  margin-top: 100px;
}
.hero__bg {
  position: relative;
  height: 200px;
  background-image: url(../img/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.hero__bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.hero__content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 200px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1;
}
.hero__content p {
  margin-top: 40px;
  color: #fff;
}
.hero__content h1 {
  margin-top: 8px;
  color: #fff;
  font-size: 3.5em;
}
.hero__content .breadcrumb {
  margin-top: 8px;
}
.hero__content .breadcrumb li {
  display: inline;
  list-style: none;
  font-weight: bold;
}
.hero__content .breadcrumb li:after {
  content: ">";
  padding: 0 0.2em;
  color: #fff;
}
.hero__content .breadcrumb li:last-child:after {
  content: "";
}
.hero__content .breadcrumb li a {
  margin: 0 16px;
  color: #fff;
  text-decoration: none;
}

/*--------------------------
* 共通
--------------------------*/
.sec {
  padding: 8vw 0;
  margin: 0 auto;
}
.sec__wrapper {
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.sec__title {
  text-align: center;
  font-size: 2em;
}
.sec__text {
  max-width: 650px;
  padding: 32px 0 0;
  margin: 0 auto;
}

/*--------------------------------------
*	can
--------------------------------------*/
.can {
  background-color: #E0E9F8;
}

.can__list {
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* 中央寄せ */
}

.can__list--item {
  margin-bottom: 24px;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #fff;
  position: relative;
}

.circle-content {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.can__text {
  text-align: center;
  margin-top: 14px;
}

/*--------------------------------------
*	works
--------------------------------------*/
.works__swiper {
  margin-top: 32px;
}

.swiper {
  overflow: hidden;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-slide {
  flex-shrink: 0;
}

/* スライドの動き等速 */
.swiper-wrapper {
  transition-timing-function: linear;
}

/* 画像のサイズ調整 */
.works__list--item img {
  height: auto;
  width: 100%;
}

.works .btn {
  margin-top: 32px;
  text-align: center;
}

.btn a {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}

.btn .btn-c {
  font-size: 1rem;
  position: relative;
  padding: 1.5rem 5rem;
  border-radius: 100vh;
}
.btn .btn-c:hover:after {
  right: 35px;
}
.btn .btn-c:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  position: absolute;
  top: 50%;
  right: 50px;
  content: "\f054";
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.btn--blue {
  color: #000;
  background-color: #CBDAF3;
}
.btn--blue:hover {
  color: #fff;
  background-color: #97B5E7;
}

/*--------------------------------------
*	production
--------------------------------------*/
.production-step {
  width: 100%;
  margin-top: 32px;
  border-spacing: 0px 24px;
}

tbody {
  position: relative;
}

tbody::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 10%;
  border-left: 5px dotted #202A39;
  transform: translateX(-10%);
  height: 90%;
  width: 5px;
}

.step-box {
  width: 20%;
  padding: 24px;
  background: #202A39;
  vertical-align: middle;
  text-align: left;
  overflow: visible;
  position: relative;
  color: #fff;
}
.step-box:after {
  left: 110%;
  top: 50%;
  transform: translateY(-50%);
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: solid transparent;
  border-left-color: #202A39;
  border-width: 16px;
}
.step-box__number {
  text-align: center;
}
.step-box__title {
  text-align: center;
  margin-top: 24px;
}

.step-text {
  width: 80%;
  padding: 24px 4em;
  border: 1px solid #202A39;
}
.step-text span {
  color: grey;
}

@media screen and (max-width: 960px) {
  /*-------------------------
   * hamburger　nav
   --------------------------*/
  .hamburger {
    display: block;
    position: fixed;
    top: 2%;
    left: 3%;
    text-align: center;
    z-index: 9999;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .hamburger--trigger {
    width: 65px;
    height: 60px;
    position: relative;
  }
  .hamburger--trigger span {
    display: inline-block;
    transition: all 0.2s;
    box-sizing: border-box;
    position: absolute;
    right: 13px;
    margin: 0 auto;
    width: 39px;
    height: 1.5px;
    background-color: #19A2DB;
    border-radius: 0;
  }
  .hamburger--trigger span:nth-of-type(1) {
    top: 18px;
  }
  .hamburger--trigger span:nth-of-type(2) {
    top: 29px;
  }
  .hamburger--trigger span:nth-of-type(3) {
    top: 40px;
  }

  /*--------------------------
   * hamburger js
   --------------------------*/
  .drawer--active .tb-gnavi {
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 999;
  }

  .btn--active .hamburger--trigger span:nth-of-type(1) {
    transform: translateY(11px) rotate(45deg);
  }
  .btn--active .hamburger--trigger span:nth-of-type(2) {
    width: 0;
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
  }
  .btn--active .hamburger--trigger span:nth-of-type(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

  /*--------------------------
     * セクション
     --------------------------*/
  .sec__wrapper {
    width: 90%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

  .sub-header__logo {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  .pc-gnavi {
    display: none;
  }

  .can__list--item {
    width: 45%;
  }

  .circle {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }

  tbody::before {
    content: none;
  }

  .step-box {
    width: 100%;
    display: block;
    padding: 16px;
  }
  .step-box__title {
    margin-top: 14px;
  }
  .step-box:after {
    content: none;
  }

  .step-text {
    width: 100%;
    display: block;
    padding: 16px 2em;
  }
}
@media screen and (max-width: 520px) {
  .hamburger {
    top: 0;
  }

  .sub-header {
    height: 64px;
  }

  .sub-header__logo {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .sub-header__logo img {
    width: 150px;
    height: auto;
  }

  .hero {
    margin-top: 64px;
  }
}
@media screen and (max-width: 350px) {
  .tb-gnavi__list {
    padding-top: 0px;
  }
  .tb-gnavi__list li {
    margin-bottom: 8px;
  }

  .circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */