@charset "UTF-8";
/*--------------------------
* 共通
--------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", serif;
  font-size: 1em;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.inner {
  max-width: 960px;
  padding: min(8vw, 80px) 0;
  margin: 0 auto;
}

.sub-gnavi__list a,
.breadcrumb a {
  position: relative;
}

.sub-gnavi__list a:before,
.breadcrumb a:before {
  background-color: #3c3632;
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.breadcrumb a:before {
  background-color: #fff;
}

.sub-gnavi__list a:hover:before,
.breadcrumb a:hover:before {
  width: 100%;
}

.right,
.left {
  width: 50%;
}

/*--------------------------
* header
--------------------------*/
.sub-header {
  position: fixed;
  height: 100px;
  background: lightcyan;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto;
}
.sub-header__logo {
  position: absolute;
  left: 5%;
  top: 0px;
}
.sub-header__logo img {
  width: 300px;
  height: 100px;
}

.sub-gnavi {
  height: auto;
  background: none;
  position: absolute;
  width: auto;
  z-index: 1;
  right: 5%;
  left: auto;
  top: 42px;
}
.sub-gnavi__inner {
  position: relative;
  top: unset;
  left: unset;
  transform: none;
  width: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.sub-gnavi__list {
  display: flex;
  padding: 0;
}
.sub-gnavi__list li {
  font-size: 1em;
  margin: 0 1em;
}

/*--------------------------
* main
--------------------------*/
.hero {
  margin-top: 100px;
}
.hero__bg {
  position: relative;
  height: 200px;
  background-image: url(../img/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.hero__bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.hero__content {
  height: 200px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1;
}
.hero__content p {
  margin-top: 40px;
  color: #fff;
}
.hero__content h1 {
  margin-top: 8px;
  color: #fff;
  font-size: 3.5em;
}
.hero__content .breadcrumb {
  margin-top: 8px;
}
.hero__content .breadcrumb li {
  display: inline;
  list-style: none;
  font-weight: bold;
}
.hero__content .breadcrumb li:after {
  content: ">";
  padding: 0 0.2em;
  color: #fff;
}
.hero__content .breadcrumb li:last-child:after {
  content: "";
}
.hero__content .breadcrumb li a {
  margin: 0 16px;
  color: #fff;
  text-decoration: none;
}

/*--------------------------
* contact
--------------------------*/
.contact-top .inner {
  text-align: center;
  padding-bottom: 2vw;
}
.contact-top .inner .title {
  font-size: 2rem;
}
.contact-top .inner span {
  display: inline-block;
  margin-top: 32px;
}

/*--------------------------
* form
--------------------------*/
.form {
  background-color: #E0E9F8;
}
.form .inner {
  padding-top: 4vw;
}
.form .inner .Form {
  margin: 0 auto;
}
.form .inner .Form-Item {
  padding: 16px 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.form .inner .Form-Item-Label {
  width: 100%;
  letter-spacing: 0.05em;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.form .inner .Form-Item-Label.isMsg {
  margin-top: 0;
  margin-bottom: auto;
}
.form .inner .Form-Item-Label-Required {
  border-radius: 4px;
  margin-left: 30px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #19a2db;
  color: #fff;
  font-size: 14px;
}
.form .inner .Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 0px;
  margin-top: 18px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: inherit;
  width: 100%;
  background: #fff;
  font-size: 18px;
}
.form .inner .Form-Item-Input::-moz-placeholder {
  color: #a3a3a3;
}
.form .inner .Form-Item-Input:-ms-input-placeholder {
  color: #a3a3a3;
}
.form .inner .Form-Item-Input::placeholder {
  color: #a3a3a3;
}
.form .inner .Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 0;
  margin-top: 18px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: inherit;
  width: 100%;
  background: #fff;
  font-size: 18px;
}
.form .inner .Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #545454;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.form .inner .contact-type {
  display: flex;
  gap: 30px;
  margin-top: 16px;
}

/*--------------------------
* privacy
--------------------------*/
.privacy .inner {
  padding-bottom: 50px;
  text-align: center;
}
.privacy .inner .title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 16px;
}
.privacy .inner .agree {
  margin-top: 80px;
}
.privacy .inner .agree h2 {
  font-size: 18px;
  font-weight: bold;
}
.privacy .inner .agree .text {
  margin-top: 32px;
  padding: 40px;
  text-align: left;
  background-color: #E0E9F8;
  height: 500px;
  overflow-y: scroll;
}
.privacy .inner .agree .text h2 {
  margin-top: 16px;
}
.privacy .inner .agree .check-text {
  margin: 30px auto;
}
.privacy .inner .agree input[type=checkbox] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
.privacy .inner .agree button[type=submit] {
  width: 250px;
  font-size: 18px;
}
.privacy .inner .agree .Form-Btn {
  background-color: rgba(151, 181, 231, 0.5);
  text-align: center;
  border-radius: 9999px;
  padding: 20px 0;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}
.privacy .inner .agree .Form-Btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: 40px;
  width: 10px;
  height: 10px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
  transition: all 0.5s ease;
}
.privacy .inner .agree .Form-Btn:hover {
  background-color: rgb(151, 181, 231);
}
.privacy .inner .agree .Form-Btn:hover::before {
  right: 35px;
}

/*
--------------------------------------
footer
--------------------------------------
*/
footer {
  background-color: #E5E5E5;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}
footer .totop {
  height: 80px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
  border-bottom: solid 1px #202A39;
}
footer .totop::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: calc(50% - 5px);
  width: 15px;
  height: 15px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
footer .totop:hover {
  background-color: rgb(241, 241, 241);
}
footer .totop:hover::before {
  top: calc(50% - 10px);
}
footer .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 1080px;
  width: 100%;
  padding: 0;
  background-color: #E5E5E5;
}
footer .inner .left {
  padding: 0 64px;
}
footer .inner .left .footer-logo {
  margin-top: 30px;
}
footer .inner .left .address {
  font-style: normal;
  margin-top: 15px;
  line-height: 30px;
}
footer .inner .right nav {
  display: flex;
  justify-content: end;
  margin-right: 8%;
}
footer .inner .right nav .menu-list {
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding-right: 8%;
  border-right: solid 1px #000;
}
footer .inner .right nav .service-list {
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding-left: 30px;
}
footer .inner .right nav .service-list li {
  list-style: disc;
  margin-left: 20px;
}
footer .copyright {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 50px 0 20px;
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */