@charset "UTF-8";
/*--------------------------
* 共通
--------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", serif;
  font-size: 1em;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.pc-gnavi__list a,
.tb-gnavi__list a,
.breadcrumb a {
  position: relative;
}

.pc-gnavi__list a:before,
.tb-gnavi__list a:before,
.breadcrumb a:before {
  background-color: #3c3632;
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.breadcrumb a:before {
  background-color: #fff;
}

.sub-gnavi__list a:hover:before,
.breadcrumb a:hover:before {
  width: 100%;
}

.pc-gnavi {
  height: auto;
  background: none;
  position: absolute;
  width: auto;
  z-index: 1;
  right: 5%;
  left: auto;
  top: 42px;
}

.pc-gnavi__content {
  position: relative;
  top: unset;
  left: unset;
  transform: none;
  width: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pc-gnavi__list {
  display: flex;
  padding: 0;
}

.pc-gnavi__list li {
  font-size: 1em;
  margin: 0 1em;
}

.tb-gnavi {
  height: 100%;
  background: rgb(255, 255, 255);
  position: fixed;
  left: -100vw;
  width: 100%;
  visibility: visible;
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.tb-gnavi__wrapper {
  max-width: 760px;
  position: absolute;
  width: 100%;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -5%);
  -webkit-transform: translate(-50%, -5%);
  -moz-transform: translate(-50%, -5%);
  -ms-transform: translate(-50%, -5%);
}

.tb-gnavi__logo {
  margin: 0 auto;
  width: 60%;
}

.tb-gnavi__list {
  width: 60%;
  margin: 0 auto;
  padding-top: 34px;
}

.tb-gnavi__list li {
  margin-bottom: 24px;
}

.tb-gnavi__list li .en {
  display: block;
}

.tb-gnavi__list li .en a {
  font-size: 1.58em;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.tb-gnavi__list li .ja {
  display: block;
}

.tb-gnavi__list li .ja a {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.tb-gnavi__copy {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.copyright {
  width: 100%;
  font-size: 0.5em;
  text-align: center;
  opacity: 0.6;
}

.hamburger {
  display: none;
}

/*--------------------------
* header
--------------------------*/
.sub-header {
  position: fixed;
  height: 100px;
  background: lightcyan;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto;
}
.sub-header__logo {
  position: absolute;
  left: 5%;
  top: 0px;
}
.sub-header__logo img {
  width: 300px;
  height: 100px;
}

.sub-gnavi {
  height: auto;
  background: none;
  position: absolute;
  width: auto;
  z-index: 1;
  right: 5%;
  left: auto;
  top: 42px;
}
.sub-gnavi__inner {
  position: relative;
  top: unset;
  left: unset;
  transform: none;
  width: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.sub-gnavi__list {
  display: flex;
  padding: 0;
}
.sub-gnavi__list li {
  font-size: 1em;
  margin: 0 1em;
}

/*--------------------------
* main
--------------------------*/
.main {
  z-index: 0;
}

.hero {
  margin-top: 100px;
}
.hero__bg {
  position: relative;
  height: 200px;
  background-image: url(../img/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.hero__bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.hero__content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 200px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1;
}
.hero__content p {
  margin-top: 40px;
  color: #fff;
}
.hero__content h1 {
  margin-top: 8px;
  color: #fff;
  font-size: 3.5em;
}
.hero__content .breadcrumb {
  margin-top: 8px;
}
.hero__content .breadcrumb li {
  display: inline;
  list-style: none;
  font-weight: bold;
}
.hero__content .breadcrumb li:after {
  content: ">";
  padding: 0 0.2em;
  color: #fff;
}
.hero__content .breadcrumb li:last-child:after {
  content: "";
}
.hero__content .breadcrumb li a {
  margin: 0 16px;
  color: #fff;
  text-decoration: none;
}

/*--------------------------
* 共通
--------------------------*/
.sec {
  padding: 8vw 0;
  margin: 0 auto;
}
.sec__wrapper {
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.sec__title {
  text-align: center;
  font-size: 2em;
}
.sec__text {
  max-width: 650px;
  padding: 32px 0 0;
  margin: 0 auto;
}

/*--------------------------------------
*	explanation
--------------------------------------*/
.explanation__content {
  display: flex;
  align-items: center;
}
.explanation__content__img {
  width: 50%;
  padding-right: 24px;
}
.explanation__content__text {
  width: 50%;
  padding-left: 24px;
}

/*--------------------------------------
*	merit
--------------------------------------*/
.merit {
  background-color: #E0E9F8;
}
.merit__list {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.merit__list--item {
  width: 24%;
  background: #fff;
  padding: 24px 16px 32px;
}
.merit__text {
  text-align: center;
  padding-top: 34px;
}
.merit .merit__img {
  width: 65%;
  margin: 0 auto;
}

/*--------------------------------------
*	ratio
--------------------------------------*/
.tb-ratio {
  display: none;
}

.ratio .graphic {
  margin-top: 32px;
}
.ratio .chart {
  overflow: hidden;
  -webkit-animation: expand 1.5s ease forwards;
          animation: expand 1.5s ease forwards;
}
@-webkit-keyframes expand {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes expand {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.ratio .block {
  display: block;
  height: 50px;
  color: #fff;
  float: left;
  background-color: #092A60;
  position: relative;
  overflow: hidden;
}
.ratio .block:nth-of-type(2),
.ratio .legend li:nth-of-type(2):before {
  background-color: #8BB6FF;
}
.ratio .block:nth-of-type(3),
.ratio .legend li:nth-of-type(3):before {
  background-color: #5A97FF;
}
.ratio .block:nth-of-type(4),
.ratio .legend li:nth-of-type(4):before {
  background-color: #D6E5FF;
}
.ratio .value {
  display: block;
  line-height: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ratio .x-axis {
  text-align: center;
  padding: 2em 0;
}
.ratio .legend {
  margin: 0 auto;
  padding: 0;
}
.ratio .legend li {
  display: inline-block;
  padding: 0.25em 1em;
  line-height: 1em;
}
.ratio .legend li:before {
  content: "";
  margin-right: 0.5em;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #092A60;
}

/*--------------------------------------
*	introduction
--------------------------------------*/
.introduction-flow {
  width: 100%;
  border-spacing: 0px 32px;
}
.introduction-flow tbody {
  position: relative;
}
.introduction-flow tbody::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 5.3%;
  border-left: 5px dotted #202A39;
  transform: translateX(-10%);
  height: 90%;
  width: 5px;
}
.introduction-flow .step-box {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  background: #202A39;
  color: #fff;
  border-radius: 50%;
}
.introduction-flow .step-box__number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.introduction-flow .step-text {
  width: 85%;
  padding: 8px 2em;
  border-bottom: 1px solid;
  position: relative;
}
.introduction-flow .step-text__title {
  font-size: 1.2em;
  font-weight: 700;
}
.introduction-flow .step-text__comment {
  padding-top: 16px;
}
.introduction-flow .step-text::before {
  left: 50%;
  top: 110%;
  transform: translateX(-50%);
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #202A39;
}
.introduction-flow .step-text span {
  color: grey;
}
.introduction-flow tr:last-child .step-text:before {
  content: none;
}

@media screen and (max-width: 960px) {
  /*-------------------------
    * hamburger　nav
   --------------------------*/
  .hamburger {
    display: block;
    position: fixed;
    top: 2%;
    left: 3%;
    text-align: center;
    z-index: 9999;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .hamburger--trigger {
    width: 65px;
    height: 60px;
    position: relative;
  }

  .hamburger--trigger span {
    display: inline-block;
    transition: all 0.2s;
    box-sizing: border-box;
    position: absolute;
    right: 13px;
    margin: 0 auto;
    width: 39px;
    height: 1.5px;
    background-color: #19A2DB;
    border-radius: 0;
  }

  .hamburger--trigger span:nth-of-type(1) {
    top: 18px;
  }

  .hamburger--trigger span:nth-of-type(2) {
    top: 29px;
  }

  .hamburger--trigger span:nth-of-type(3) {
    top: 40px;
  }

  /*--------------------------
    * hamburger js
   --------------------------*/
  .drawer--active .tb-gnavi {
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 999;
  }

  .btn--active .hamburger--trigger span:nth-of-type(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .btn--active .hamburger--trigger span:nth-of-type(2) {
    width: 0;
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
  }

  .btn--active .hamburger--trigger span:nth-of-type(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

  /*--------------------------
      * セクション
   --------------------------*/
  .sec__wrapper {
    width: 90%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

  .sub-header__logo {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  .pc-gnavi {
    display: none;
  }

  /* グラフ */
  .graphic {
    display: none;
  }

  .tb-ratio {
    display: block;
    text-align: center;
    margin-top: 32px;
  }

  .explanation__content {
    flex-direction: column-reverse;
  }
  .explanation__content__img {
    width: 80%;
    padding: 32px 0 0;
    margin: 0 auto;
  }
  .explanation__content__text {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .merit__list {
    justify-content: space-between;
  }
  .merit__list--item {
    width: 44%;
    margin-bottom: 32px;
  }

  .tb-ratio {
    display: block;
  }

  .circle {
    display: inline-block;
    transform: rotate(-90deg);
  }

  .circle .type {
    fill: transparent;
    stroke-width: 100;
  }

  .typeA4 {
    stroke: #092A60;
  }

  .typeA3 {
    stroke: #8BB6FF;
  }

  .typeA2 {
    stroke: #5A97FF;
  }

  .typeA1 {
    stroke: #D6E5FF;
  }

  .typeA1 {
    -webkit-animation: circleA1 1s forwards;
            animation: circleA1 1s forwards;
  }

  @-webkit-keyframes circleA1 {
    0% {
      stroke-dasharray: 0 565;
    }
    99.9%, to {
      stroke-dasharray: 56.5 0;
    }
  }
  @keyframes circleA1 {
    0% {
      stroke-dasharray: 0 565;
    }
    99.9%, to {
      stroke-dasharray: 56.5 565;
    }
  }
  .typeA2 {
    -webkit-animation: circleA2 1s forwards;
    animation: circleA2 1s forwards;
  }

  @-webkit-keyframes circleA2 {
    0% {
      stroke-dasharray: 0 565;
    }
    99.9%, to {
      stroke-dasharray: 113 565;
    }
  }
  @keyframes circleA2 {
    0% {
      stroke-dasharray: 0 565;
    }
    99.9%, to {
      stroke-dasharray: 113 565;
    }
  }
  .typeA3 {
    -webkit-animation: circleA3 1s forwards;
    animation: circleA3 1s forwards;
  }

  @-webkit-keyframes circleA3 {
    0% {
      stroke-dasharray: 0 565;
    }
    99.9%, to {
      stroke-dasharray: 169.5 565;
    }
  }
  @keyframes circleA3 {
    0% {
      stroke-dasharray: 0 565;
    }
    99.9%, to {
      stroke-dasharray: 282.5 565;
    }
  }
  .typeA4 {
    -webkit-animation: circleA4 1s forwards;
    animation: circleA4 1s forwards;
  }

  @-webkit-keyframes circleA4 {
    0% {
      stroke-dasharray: 0 565;
    }
    99.9%, to {
      stroke-dasharray: 282.5 565;
    }
  }
  @keyframes circleA4 {
    0% {
      stroke-dasharray: 0 565;
    }
    99.9%, to {
      stroke-dasharray: 565 565;
    }
  }
  .introduction-flow {
    border-spacing: 0px 50px;
  }

  .introduction-flow tbody::before {
    content: none;
  }

  .introduction-flow .step-box {
    display: block;
    width: 70px;
    height: 70px;
    margin-left: 32px;
  }
  .introduction-flow .step-text {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 16px 1em;
  }
}
@media screen and (max-width: 520px) {
  .hamburger {
    top: 0;
  }

  .sub-header {
    height: 64px;
  }

  .sub-header__logo {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .sub-header__logo img {
    width: 150px;
    height: auto;
  }

  .hero {
    margin-top: 64px;
  }

  .ratio .x-axis {
    text-align: left;
  }

  .ratio .legend li {
    display: block;
  }

  .merit__list--item {
    width: 80%;
    margin: 0 auto 32px;
  }

  .introduction-flow .step-box {
    margin-left: 0;
  }
  .introduction-flow .step-text {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 350px) {
  .tb-gnavi__list {
    padding-top: 0px;
  }

  .tb-gnavi__list li {
    margin-bottom: 8px;
  }

  .explanation__content__img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */